Acazia Software/src/all-issues.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
    <!-- CDN CK Editor--><script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__logo">Acazia Software</div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-dashboard.svg" alt=""><a class="nav__link" href="#">Dashboard</a></li>
                <li><img src="./images/icon/icon-project.png" alt=""><a class="nav__link" href="project.html">Project</a></li>
                <li class="active"><img src="./images/icon/icon-issues.png" alt=""><a class="nav__link" href="all-issues.html">Issues</a></li>
                <li><img src="./images/icon/icon-tempo.png" alt=""><a class="nav__link" href="tempo-admin.html">Tempo</a></li>
                <li><img src="./images/icon/icon-people.png" alt=""><a class="nav__link" href="people.html">People</a></li>
                <li><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="#">Charts</a></li>
      </ul>
    </div>
    <main>
      <div class="popup issues">
        <div class="popup__overlay"></div>
        <div class="popup__item custom-scroll-bar">
          <div class="button dflexs js--btn">
            <p>Configure fields</p><i class="fas fa-angle-down"></i>
          </div>
          <div class="block__expand">
            <div class="heading dflexs">
              <h6>
                 Show Fields: <a class="blue-color" href="#">All</a><span>|</span><a href="#">Custom</a></h6><a class="blue-color" href="#">Where is my fields</a>
            </div>
            <div class="body dflex">
              <div class="body__item col-sm-6 col-12">
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Assignee</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Attachment</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Components</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Description</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Epic Link</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Fix Versions</p><span class="checkmark"></span>
                                </label>
              </div>
              <div class="body__item col-sm-6 col-12">
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Labels</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Linked Issues</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Priority</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Reporter</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Fix Versions</p><span class="checkmark"></span>
                                </label>
              </div>
            </div>
          </div>
          <h2>Create Issue</h2>
          <form action="">
            <div class="col-lg-6 col-12 input-field">
              <h6>
                 Project<span>*</span></h6>
              <div class="field custom-select">
                <select>
                  <option value="">DROP_UI/UX (PU)</option>
                  <option value="">DROP_UI/UX (PU) 1</option>
                  <option value="">DROP_UI/UX (PU) 2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-12 input-field">
              <h6>
                 Issues Type<span>*</span></h6>
              <div class="field custom-select" style="padding-left: 40px;"><img src="./images/icon/icon-state-story.png" alt="">
                <select>
                  <option value="">
                     Epic</option>
                  <option value="">
                     Story</option>
                </select>
              </div>
            </div>
            <div class="col-12 input-field">
              <h6>
                 Summary<span>*</span></h6>
              <div class="field">
                <input type="text">
              </div>
            </div>
            <div class="ckEditor">
              <div id="editor"></div>
            </div>
            <div class="col-12 input-field">
              <h6>Priority</h6>
              <div class="field custom-select">
                <select>
                  <option value="">Medium </option>
                  <option value="">Medium 1</option>
                  <option value="">Medium 2</option>
                  <option value="">Medium 3</option>
                </select>
              </div>
            </div>
            <div class="col-12 input-field">
              <h6>Attachment</h6>
              <div class="drop-attachment dflex"><img src="./images/icon/icon-cloud.png" alt="">
                <p class="blue-color">Drop file to attach, or browse</p>
              </div>
            </div>
            <div class="col-12" style="text-align: center">
              <button class="btn big js--accept">Create</button>
              <button class="btn big red transparent js--cancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <header class="issues__header dflexs">
        <div class="header__item left">
          <h3 class="title">POS_UI/UX</h3>
          <h1 class="title">All issues</h1>
        </div>
        <div class="header__item right">
          <button class="btn big js--create">Create Issues</button>
        </div>
      </header>
      <section class="issues__body">
        <div class="issues__recent">
          <h2 class="title">Recent issues </h2>
          <div class="recent__items">
                        <div class="recent__item"><img src="./images/icon/icon-state-story.png" alt="">
                          <div class="recent__content">
                            <h6 class="title">CR Edit Reports to include COGS to use the wholesale</h6>
                            <p class="des">DROP-1954</p>
                          </div>
                        </div>
                        <div class="recent__item"><img src="./images/icon/icon-state-epic.png" alt="">
                          <div class="recent__content">
                            <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                            <p class="des">DROP-2063</p>
                          </div>
                        </div>
                        <div class="recent__item"><img src="./images/icon/icon-state-bug.png" alt="">
                          <div class="recent__content">
                            <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                            <p class="des">DROP-1937</p>
                          </div>
                        </div>
                        <div class="recent__item"><img src="./images/icon/icon-state-task.png" alt="">
                          <div class="recent__content">
                            <h6 class="title">PWA; A customer must verify their account with every...</h6>
                            <p class="des">DROP-1838</p>
                          </div>
                        </div>
          </div>
        </div>
        <div class="issues__tools">
          <div class="field">
            <input type="text" placeholder="Search"><img src="./images/icon/icon-search.svg" alt="">
          </div>
          <div class="field custom-select">
            <select>
              <option value="">All types</option>
              <option value="">All types 1</option>
              <option value="">All types 2</option>
              <option value="">All types 3</option>
            </select>
          </div>
          <div class="field custom-select">
            <select>
              <option value="">All categories</option>
              <option value="">All categories 1</option>
              <option value="">All categories 2</option>
              <option value="">All categories 3</option>
            </select>
          </div>
          <div class="field custom-select">
            <select>
              <option value="">Status: All</option>
              <option value="">Status: All 1</option>
              <option value="">Status: All 2</option>
              <option value="">Status: All 3</option>
            </select>
          </div>
          <div class="field custom-select">
            <select>
              <option value="">Assignee: All </option>
              <option value="">Assignee: All 1</option>
              <option value="">Assignee: All 2</option>
              <option value="">Assignee: All 3</option>
            </select>
          </div>
          <div class="field custom-select">
            <select>
              <option value="">Project: All</option>
              <option value="">Project: All 1</option>
              <option value="">Project: All 2</option>
              <option value="">Project: All 3</option>
            </select>
          </div>
        </div>
        <div class="table__all__issues custom-scroll-bar">
          <table cellspacing="0">
            <thead>
              <tr>
                <td>T</td>
                <td><span class="title">Key<span class="caretUp active"><i class="fas fa-caret-up"></i></span><span class="caretDown"><i class="fas fa-caret-down"></i></span></span></td>
                <td>Summary</td>
                <td>Assignee</td>
                <td>Reporter</td>
                <td>P</td>
                <td>Status</td>
                <td><span class="title">Created<span class="caretUp active"><i class="fas fa-caret-up"></i></span><span class="caretDown"><i class="fas fa-caret-down"></i></span></span></td>
                <td>Update</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
                            <tr>
                              <td><img src="./images/icon/icon-state-bug.png" alt=""></td>
                              <td>SS-1993</td>
                              <td><a href="#">Modifications to the layout engine must not be...</a></td>
                              <td>Unassigned</td>
                              <td>Marcos Lopez</td>
                              <td><i class="fas fa-arrow-up"></i></td>
                              <td>
                                <button class="btn gray">TO DO</button>
                              </td>
                              <td>17/Mar/20</td>
                              <td>17/Mar/20</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><img src="./images/icon/icon-state-bug.png" alt=""></td>
                              <td>DROP-2126</td>
                              <td><a href="#">Need to enable security to block spam contact...</a></td>
                              <td>Unassigned</td>
                              <td>Vanessa Gabriel</td>
                              <td><i class="fas fa-arrow-up"></i></td>
                              <td>
                                <button class="btn gray">TO DO</button>
                              </td>
                              <td>17/Mar/20</td>
                              <td>17/Mar/20</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><img src="./images/icon/icon-state-task.png" alt=""></td>
                              <td>DROP-2125</td>
                              <td><a href="#">PWA; Clear Cache Issue; We need to optimize...</a></td>
                              <td>Thanh Nguyen</td>
                              <td>Marcos Lopez</td>
                              <td><i class="fas fa-arrow-up"></i></td>
                              <td>
                                <button class="btn blue">IN PROGRESS</button>
                              </td>
                              <td>17/Mar/20</td>
                              <td>17/Mar/20</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><img src="./images/icon/icon-state-bug.png" alt=""></td>
                              <td>DROP-2124</td>
                              <td><a href="#">BUG; dispatch ; new drop; when searching...</a></td>
                              <td>Marcos Lopez</td>
                              <td>Marcos Lopez</td>
                              <td><i class="fas fa-arrow-up"></i></td>
                              <td>
                                <button class="btn blue">IN PROGRESS</button>
                              </td>
                              <td>17/Mar/20</td>
                              <td>17/Mar/20</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><img src="./images/icon/icon-state-task.png" alt=""></td>
                              <td>DROP-2125</td>
                              <td><a href="#">CR; Update for Hub setting</a></td>
                              <td>Thanh Nguyen</td>
                              <td>Marcos Lopez</td>
                              <td><i class="fas fa-arrow-up"></i></td>
                              <td>
                                <button class="btn blue">IN PROGRESS</button>
                              </td>
                              <td>17/Mar/20</td>
                              <td>17/Mar/20</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><img src="./images/icon/icon-state-bug.png" alt=""></td>
                              <td>DROP-2122</td>
                              <td><a href="#">How do I become a driver?</a></td>
                              <td>Unassigned</td>
                              <td>Marcos Lopez</td>
                              <td><i class="fas fa-arrow-up"></i></td>
                              <td>
                                <button class="btn blue">IN PROGRESS</button>
                              </td>
                              <td>17/Mar/20</td>
                              <td>17/Mar/20</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination">
          <li><i class="fas fa-angle-left"></i></li>
          <li class="active">1</li>
          <li>2</li>
          <li><i class="fas fa-angle-right"></i></li>
        </ul>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>

Acazia Software/src/all-issues.pug
extend layout.pug

block head
  // CDN CK Editor
  <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', 'project.html', 'Project')
      +nav-link('icon-issues.png', 'all-issues.html', 'Issues', 'active')
      +nav-link('icon-tempo.png', 'tempo-admin.html', 'Tempo')
      +nav-link('icon-people.png', 'people.html', 'People')
      +nav-link('icon-chart.png', '#', 'Charts')

block pages
  .popup.issues
    .popup__overlay
    .popup__item.custom-scroll-bar
      .button.dflexs.js--btn
        p Configure fields
        i.fas.fa-angle-down

      .block__expand
        .heading.dflexs
          h6 
            |Show Fields: 
            a(href="#").blue-color All
            span |
            a(href="#") Custom
          a(href="#").blue-color Where is my fields
        .body.dflex
          .body__item.col-sm-6.col-12
            mixin checkmark(title, isChecked)
              label.field-checkbox
                input(type="checkbox")
                p= title
                span.checkmark
            +checkmark('Assignee')
            +checkmark('Attachment')
            +checkmark('Components')
            +checkmark('Description')
            +checkmark('Epic Link')
            +checkmark('Fix Versions')
          .body__item.col-sm-6.col-12
            +checkmark('Labels')
            +checkmark('Linked Issues')
            +checkmark('Priority')
            +checkmark('Reporter')
            +checkmark('Fix Versions')

      h2 Create Issue
      form(action="")
        .col-lg-6.col-12.input-field
          h6 
            |Project
            span *
          .field.custom-select
            select
              option(value="") DROP_UI/UX (PU)
              option(value="") DROP_UI/UX (PU) 1
              option(value="") DROP_UI/UX (PU) 2
        .col-lg-6.col-12.input-field
          h6 
            |Issues Type
            span *
          .field.custom-select(style="padding-left: 40px;")
            img(src="./images/icon/icon-state-story.png" alt="")
            select
              option(value="") 
                |Epic
              option(value="") 
                |Story

        .col-12.input-field
          h6 
            |Summary
            span *
          .field
            input(type="text")

        .ckEditor
          #editor

        .col-12.input-field
          h6 Priority
          .field.custom-select
            select
              option(value="") Medium 
              option(value="") Medium 1
              option(value="") Medium 2
              option(value="") Medium 3

        .col-12.input-field
          h6 Attachment
          .drop-attachment.dflex
            img(src="./images/icon/icon-cloud.png" alt="")
            p.blue-color Drop file to attach, or browse

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create
          button.btn.big.red.transparent.js--cancel Cancel

  header.issues__header.dflexs
    .header__item.left
      h3.title POS_UI/UX
      h1.title All issues
    .header__item.right
      button.btn.big.js--create Create Issues

  section.issues__body
    .issues__recent
      h2.title Recent issues 
      .recent__items
        mixin recent(image, title, content)
          .recent__item
            img(src=`./images/icon/icon-state-${image}.png`, alt="")
            .recent__content
              h6.title= title
              p.des= content

        +recent('story', 'CR Edit Reports to include COGS to use the wholesale', 'DROP-1954')
        +recent('epic', 'IOS Driver; Update Driver App Flows', 'DROP-2063')
        +recent('bug', 'BUG; Dispatch/ driver app, inaccurate location show in...', 'DROP-1937')
        +recent('task', 'PWA; A customer must verify their account with every...', 'DROP-1838')

    .issues__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")

      .field.custom-select
        select
          option(value="") All types
          option(value="") All types 1
          option(value="") All types 2
          option(value="") All types 3

      .field.custom-select
        select
          option(value="") All categories
          option(value="") All categories 1
          option(value="") All categories 2
          option(value="") All categories 3

      .field.custom-select
        select
          option(value="") Status: All
          option(value="") Status: All 1
          option(value="") Status: All 2
          option(value="") Status: All 3
        
      .field.custom-select
        select
          option(value="") Assignee: All 
          option(value="") Assignee: All 1
          option(value="") Assignee: All 2
          option(value="") Assignee: All 3

      .field.custom-select
        select
          option(value="") Project: All
          option(value="") Project: All 1
          option(value="") Project: All 2
          option(value="") Project: All 3
    .table__all__issues.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td T
            td
              span.title Key
                span.caretUp.active
                  <i class="fas fa-caret-up"></i>
                span.caretDown
                  <i class="fas fa-caret-down"></i>
            td Summary
            td Assignee
            td Reporter
            td P
            td Status
            td
              span.title Created
                span.caretUp.active
                  <i class="fas fa-caret-up"></i>
                span.caretDown
                  <i class="fas fa-caret-down"></i>
            td Update
            td

        tbody
          mixin row(icon, key, summary, assignee, reporter, color, status, created, update)
            tr
              td
                img(src=`./images/icon/icon-state-${icon}.png`, alt="")
              td= key
              td
                a(href="#")= summary
              td= assignee
              td= reporter
              td
                i.fas.fa-arrow-up
              td
                button.btn(class=`${color}`)= status
              td= created
              td= update
              td
                <i class="fas fa-ellipsis-h"></i>

          +row('bug', 'SS-1993', 'Modifications to the layout engine must not be...', 'Unassigned', 'Marcos Lopez','gray', 'TO DO', '17/Mar/20', '17/Mar/20')
          +row('bug', 'DROP-2126', 'Need to enable security to block spam contact...', 'Unassigned', 'Vanessa Gabriel','gray', 'TO DO', '17/Mar/20', '17/Mar/20')
          +row('task', 'DROP-2125', 'PWA; Clear Cache Issue; We need to optimize...', 'Thanh Nguyen', 'Marcos Lopez','blue', 'IN PROGRESS', '17/Mar/20', '17/Mar/20')
          +row('bug', 'DROP-2124', 'BUG; dispatch ; new drop; when searching...', 'Marcos Lopez', 'Marcos Lopez','blue', 'IN PROGRESS', '17/Mar/20', '17/Mar/20')
          +row('task', 'DROP-2125', 'CR; Update for Hub setting', 'Thanh Nguyen', 'Marcos Lopez','blue', 'IN PROGRESS', '17/Mar/20', '17/Mar/20')
          +row('bug', 'DROP-2122', 'How do I become a driver?', 'Unassigned', 'Marcos Lopez','blue', 'IN PROGRESS', '17/Mar/20', '17/Mar/20')
          

    ul.pagination
      li
        i.fas.fa-angle-left
      li.active 1
      li 2
      li
        i.fas.fa-angle-right
