Acazia Software/src/blacklog.pug
extend layout.pug

block head
  // CDN CK Editor
  <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 POS_UI/UX
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog', 'active')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .popup.issues
    .popup__overlay
    .popup__item
      .button.dflexs.js--btn
        p Configure fields
        i.fas.fa-angle-down

      .block__expand
        .heading.dflexs
          h6 
            |Show Fields: 
            a(href="#").blue-color All
            span |
            a(href="#") Custom
          a(href="#").blue-color Where is my fields
        .body.dflex
          .body__item.col-sm-6.col-12
            mixin checkmark(title, isChecked)
              label.field-checkbox
                input(type="checkbox")
                p= title
                span.checkmark
            +checkmark('Assignee')
            +checkmark('Attachment')
            +checkmark('Components')
            +checkmark('Description')
            +checkmark('Epic Link')
            +checkmark('Fix Versions')
          .body__item.col-sm-6.col-12
            +checkmark('Labels')
            +checkmark('Linked Issues')
            +checkmark('Priority')
            +checkmark('Reporter')
            +checkmark('Fix Versions')

      h2 Create Issue
      form(action="")
        .col-lg-6.col-12.input-field
          h6 
            |Project
            span *
          .field.custom-select
            select
              option(value="") DROP_UI/UX (PU)
              option(value="") DROP_UI/UX (PU) 1
              option(value="") DROP_UI/UX (PU) 2
        .col-lg-6.col-12.input-field
          h6 
            |Issues Type
            span *
          .field.custom-select(style="padding-left: 40px;")
            img(src="./images/icon/icon-state-story.png" alt="")
            select
              option(value="") 
                |Epic
              option(value="") 
                |Story

        .col-12.input-field
          h6 
            |Summary
            span *
          .field
            input(type="text")

        .ckEditor
          #editor

        .col-12.input-field
          h6 Priority
          .field.custom-select
            select
              option(value="") Medium 
              option(value="") Medium 1
              option(value="") Medium 2
              option(value="") Medium 3

        .col-12.input-field
          h6 Attachment
          .drop-attachment.dflex
            img(src="./images/icon/icon-cloud.png" alt="")
            p.blue-color Drop file to attach, or browse

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create
          button.btn.big.red.transparent.js--cancel Cancel
  header.backlog__header.dflexs
    .header__item.left
      h3.title Projects / POS_UI/UX / POS_UI/UX
      h1.title Backlog
    .header__item.right
      button.btn.big Share

  section.blacklog__body
    .blacklog__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .people
        a(href="member.html")
          img(src="./images/avatar/avatar-1.jpg" alt="")
        a(href="member.html")
          img(src="./images/avatar/avatar-2.png" alt="")
        a(href="member.html")
          img(src="./images/avatar/avatar-3.png" alt="")
        a(href="member.html").blue-bg.white-color PH
        a(href="member.html").purple-bg.white-color VP
        a(href="member.html").gray-bg.gray-color +7

      .field.custom-select
        select
          option(value="") Quick filter
          option(value="") Quick filter 1
          option(value="") Quick filter 2
          option(value="") Quick filter 3

    .blacklog__tabs
      .tabs
        .tabs__heading.dflexs
          .tabs__item(style="display: flex; align-items: center;")
            h5.title.js--tab-button
              i.fas.fa-angle-right
              |POP sprint Jan 30 - Feb 12	
              span 88 issues
          .tabs__item(style="display: flex; align-items: center;")
            button.btn.transparent(style="margin-right: 1.5rem") Start sprint
            button.btn
              |Plan sprint
              img(src="./images/icon/icon-angle-down-white.png" alt="")

            .button__dots(style="margin-left: 1rem;")
              .button__dots__expand
                button.btn Edit Sprint
                button.btn Delete Sprint

              button.btn
                <i class="fas fa-ellipsis-h"></i>
        .tabs__expand.custom-scroll-bar
          .drag.dflex Plan a sprint by dragging the sprint footer ...
          .project
            button.create.js--create + Create issue
            .tabs__heading.dflexs
              .tabs__item(style="display: flex; align-items: center;")
                h5.title 
                  |Backlog
                  span 5 issues
              .tabs__item
                button.btn
                  |Create Sprint
                button.btn
                  <i class="fas fa-ellipsis-h"></i>
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 Disp admin; Inventory Import
                  p 
                    span.italic Disp admin
                    span To Do
                    span.italic None
              .backlog__item
                button.btn Disp Admin
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 Shift; Print X Report
                  p 
                    span POS iPad App
                    span To Do
                    span.italic None
              .backlog__item
                button.btn.blue POS Settings
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-story.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                button.btn.blue POS Settings
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-story.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog

            button.create.js--create + Create issue

      .tabs
        .tabs__heading.dflexs
          .tabs__item(style="display: flex; align-items: center;")
            h5.title.js--tab-button
              i.fas.fa-angle-right
              |POP sprint Jan 30 - Feb 12	
              span 0 issues
          .tabs__item(style="display: flex; align-items: center;")
            button.btn.transparent(style="margin-right: 1.5rem") Start sprint
            button.btn
              |Plan sprint
              img(src="./images/icon/icon-angle-down-white.png" alt="")

            .button__dots(style="margin-left: 1rem;")
              .button__dots__expand
                button.btn Edit Sprint
                button.btn Delete Sprint

              button.btn
                <i class="fas fa-ellipsis-h"></i>
        .tabs__expand.custom-scroll-bar
          .drag.dflex Plan a sprint by dragging the sprint footer ...
          .project
            button.create.js--create + Create issue
            .tabs__heading.dflexs
              .tabs__item(style="display: flex; align-items: center;")
                h5.title 
                  |Backlog
                  span 5 issues
              .tabs__item
                button.btn
                  |Create Sprint
                button.btn
                  <i class="fas fa-ellipsis-h"></i>
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 Disp admin; Inventory Import
                  p 
                    span.italic Disp admin
                    span To Do
                    span.italic None
              .backlog__item
                button.btn Disp Admin
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-bug.png" alt="")
                .heading
                  h4 Shift; Print X Report
                  p 
                    span POS iPad App
                    span To Do
                    span.italic None
              .backlog__item
                button.btn.blue POS Settings
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-story.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                button.btn.blue POS Settings
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog
            //Start Backlog
            .backlog.dflexs
              .backlog__item
                img(src="./images/icon/icon-state-story.png" alt="")
                .heading
                  h4 CRASH
                  p 
                    span.italic None
                    span Feedback / Pending
                    span.italic None
              .backlog__item
                p.right PU - 1078
                button.red-color.arrow
                  i.fas.fa-arrow-up
            //End Backlog

            button.create.js--create + Create issue

Acazia Software/src/blacklog.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
    <!-- CDN CK Editor--><script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__current"><img src="./images/icon/icon-folder.png" alt="">
        <div class="content">
          <h2>POS_UI/UX</h2>
          <p>Sofware Project</p><i class="fas fa-angle-down"></i>
        </div>
      </div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-layer.png" alt=""><a class="nav__link" href="#">POS_UI/UX</a></li>
                <li class="active"><img src="./images/icon/icon-black-log.png" alt=""><a class="nav__link" href="blacklog.html">Backlog</a></li>
                <li><img src="./images/icon/icon-sprints.png" alt=""><a class="nav__link" href="board.html">Active Sprints</a></li>
                <li><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="reports.html">Reports</a></li>
      </ul>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-releases.png" alt=""><a class="nav__link" href="releases.html">Releases</a></li>
                <li><img src="./images/icon/icon-epic.png" alt=""><a class="nav__link" href="epic.html">Epics</a></li>
                <li><img src="./images/icon/icon-filter.png" alt=""><a class="nav__link" href="issue-details.html">Issues &amp; filters</a></li>
                <li><img src="./images/icon/icon-pages.png" alt=""><a class="nav__link" href="#">Pages</a></li>
                <li><img src="./images/icon/icon-slack.png" alt=""><a class="nav__link" href="#">Slack Integration</a></li>
                <li><img src="./images/icon/icon-setting.svg" alt=""><a class="nav__link" href="project-setting-info.html">Project settings</a></li>
      </ul>
    </div>
    <main>
      <div class="popup issues">
        <div class="popup__overlay"></div>
        <div class="popup__item">
          <div class="button dflexs js--btn">
            <p>Configure fields</p><i class="fas fa-angle-down"></i>
          </div>
          <div class="block__expand">
            <div class="heading dflexs">
              <h6>
                 Show Fields: <a class="blue-color" href="#">All</a><span>|</span><a href="#">Custom</a></h6><a class="blue-color" href="#">Where is my fields</a>
            </div>
            <div class="body dflex">
              <div class="body__item col-sm-6 col-12">
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Assignee</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Attachment</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Components</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Description</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Epic Link</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Fix Versions</p><span class="checkmark"></span>
                                </label>
              </div>
              <div class="body__item col-sm-6 col-12">
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Labels</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Linked Issues</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Priority</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Reporter</p><span class="checkmark"></span>
                                </label>
                                <label class="field-checkbox">
                                  <input type="checkbox">
                                  <p>Fix Versions</p><span class="checkmark"></span>
                                </label>
              </div>
            </div>
          </div>
          <h2>Create Issue</h2>
          <form action="">
            <div class="col-lg-6 col-12 input-field">
              <h6>
                 Project<span>*</span></h6>
              <div class="field custom-select">
                <select>
                  <option value="">DROP_UI/UX (PU)</option>
                  <option value="">DROP_UI/UX (PU) 1</option>
                  <option value="">DROP_UI/UX (PU) 2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-12 input-field">
              <h6>
                 Issues Type<span>*</span></h6>
              <div class="field custom-select" style="padding-left: 40px;"><img src="./images/icon/icon-state-story.png" alt="">
                <select>
                  <option value="">
                     Epic</option>
                  <option value="">
                     Story</option>
                </select>
              </div>
            </div>
            <div class="col-12 input-field">
              <h6>
                 Summary<span>*</span></h6>
              <div class="field">
                <input type="text">
              </div>
            </div>
            <div class="ckEditor">
              <div id="editor"></div>
            </div>
            <div class="col-12 input-field">
              <h6>Priority</h6>
              <div class="field custom-select">
                <select>
                  <option value="">Medium </option>
                  <option value="">Medium 1</option>
                  <option value="">Medium 2</option>
                  <option value="">Medium 3</option>
                </select>
              </div>
            </div>
            <div class="col-12 input-field">
              <h6>Attachment</h6>
              <div class="drop-attachment dflex"><img src="./images/icon/icon-cloud.png" alt="">
                <p class="blue-color">Drop file to attach, or browse</p>
              </div>
            </div>
            <div class="col-12" style="text-align: center">
              <button class="btn big js--accept">Create</button>
              <button class="btn big red transparent js--cancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <header class="backlog__header dflexs">
        <div class="header__item left">
          <h3 class="title">Projects / POS_UI/UX / POS_UI/UX</h3>
          <h1 class="title">Backlog</h1>
        </div>
        <div class="header__item right">
          <button class="btn big">Share</button>
        </div>
      </header>
      <section class="blacklog__body">
        <div class="blacklog__tools">
          <div class="field">
            <input type="text" placeholder="Search"><img src="./images/icon/icon-search.svg" alt="">
          </div>
          <div class="people"><a href="member.html"><img src="./images/avatar/avatar-1.jpg" alt=""></a><a href="member.html"><img src="./images/avatar/avatar-2.png" alt=""></a><a href="member.html"><img src="./images/avatar/avatar-3.png" alt=""></a><a class="blue-bg white-color" href="member.html">PH</a><a class="purple-bg white-color" href="member.html">VP</a><a class="gray-bg gray-color" href="member.html">+7</a></div>
          <div class="field custom-select">
            <select>
              <option value="">Quick filter</option>
              <option value="">Quick filter 1</option>
              <option value="">Quick filter 2</option>
              <option value="">Quick filter 3</option>
            </select>
          </div>
        </div>
        <div class="blacklog__tabs">
          <div class="tabs">
            <div class="tabs__heading dflexs">
              <div class="tabs__item" style="display: flex; align-items: center;">
                <h5 class="title js--tab-button"><i class="fas fa-angle-right"></i>POP sprint Jan 30 - Feb 12	<span>88 issues</span></h5>
              </div>
              <div class="tabs__item" style="display: flex; align-items: center;">
                <button class="btn transparent" style="margin-right: 1.5rem">Start sprint</button>
                <button class="btn">Plan sprint<img src="./images/icon/icon-angle-down-white.png" alt=""></button>
                <div class="button__dots" style="margin-left: 1rem;">
                  <div class="button__dots__expand">
                    <button class="btn">Edit Sprint</button>
                    <button class="btn">Delete Sprint</button>
                  </div>
                  <button class="btn"><i class="fas fa-ellipsis-h"></i></button>
                </div>
              </div>
            </div>
            <div class="tabs__expand custom-scroll-bar">
              <div class="drag dflex">Plan a sprint by dragging the sprint footer ...</div>
              <div class="project">
                <button class="create js--create">+ Create issue</button>
                <div class="tabs__heading dflexs">
                  <div class="tabs__item" style="display: flex; align-items: center;">
                    <h5 class="title">
                       Backlog<span>5 issues</span></h5>
                  </div>
                  <div class="tabs__item">
                    <button class="btn">Create Sprint</button>
                    <button class="btn"><i class="fas fa-ellipsis-h"></i></button>
                  </div>
                </div>
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-bug.png" alt="">
                    <div class="heading">
                      <h4>CRASH</h4>
                      <p> <span class="italic">None</span><span>Feedback / Pending</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-bug.png" alt="">
                    <div class="heading">
                      <h4>Disp admin; Inventory Import</h4>
                      <p> <span class="italic">Disp admin</span><span>To Do</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <button class="btn">Disp Admin</button>
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-bug.png" alt="">
                    <div class="heading">
                      <h4>Shift; Print X Report</h4>
                      <p> <span>POS iPad App</span><span>To Do</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <button class="btn blue">POS Settings</button>
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-story.png" alt="">
                    <div class="heading">
                      <h4>CRASH</h4>
                      <p> <span class="italic">None</span><span>Feedback / Pending</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <button class="btn blue">POS Settings</button>
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-story.png" alt="">
                    <div class="heading">
                      <h4>CRASH</h4>
                      <p> <span class="italic">None</span><span>Feedback / Pending</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <button class="create js--create">+ Create issue</button>
              </div>
            </div>
          </div>
          <div class="tabs">
            <div class="tabs__heading dflexs">
              <div class="tabs__item" style="display: flex; align-items: center;">
                <h5 class="title js--tab-button"><i class="fas fa-angle-right"></i>POP sprint Jan 30 - Feb 12	<span>0 issues</span></h5>
              </div>
              <div class="tabs__item" style="display: flex; align-items: center;">
                <button class="btn transparent" style="margin-right: 1.5rem">Start sprint</button>
                <button class="btn">Plan sprint<img src="./images/icon/icon-angle-down-white.png" alt=""></button>
                <div class="button__dots" style="margin-left: 1rem;">
                  <div class="button__dots__expand">
                    <button class="btn">Edit Sprint</button>
                    <button class="btn">Delete Sprint</button>
                  </div>
                  <button class="btn"><i class="fas fa-ellipsis-h"></i></button>
                </div>
              </div>
            </div>
            <div class="tabs__expand custom-scroll-bar">
              <div class="drag dflex">Plan a sprint by dragging the sprint footer ...</div>
              <div class="project">
                <button class="create js--create">+ Create issue</button>
                <div class="tabs__heading dflexs">
                  <div class="tabs__item" style="display: flex; align-items: center;">
                    <h5 class="title">
                       Backlog<span>5 issues</span></h5>
                  </div>
                  <div class="tabs__item">
                    <button class="btn">Create Sprint</button>
                    <button class="btn"><i class="fas fa-ellipsis-h"></i></button>
                  </div>
                </div>
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-bug.png" alt="">
                    <div class="heading">
                      <h4>CRASH</h4>
                      <p> <span class="italic">None</span><span>Feedback / Pending</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-bug.png" alt="">
                    <div class="heading">
                      <h4>Disp admin; Inventory Import</h4>
                      <p> <span class="italic">Disp admin</span><span>To Do</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <button class="btn">Disp Admin</button>
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-bug.png" alt="">
                    <div class="heading">
                      <h4>Shift; Print X Report</h4>
                      <p> <span>POS iPad App</span><span>To Do</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <button class="btn blue">POS Settings</button>
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-story.png" alt="">
                    <div class="heading">
                      <h4>CRASH</h4>
                      <p> <span class="italic">None</span><span>Feedback / Pending</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <button class="btn blue">POS Settings</button>
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <!--Start Backlog-->
                <div class="backlog dflexs">
                  <div class="backlog__item"><img src="./images/icon/icon-state-story.png" alt="">
                    <div class="heading">
                      <h4>CRASH</h4>
                      <p> <span class="italic">None</span><span>Feedback / Pending</span><span class="italic">None</span></p>
                    </div>
                  </div>
                  <div class="backlog__item">
                    <p class="right">PU - 1078</p>
                    <button class="red-color arrow"><i class="fas fa-arrow-up"></i></button>
                  </div>
                </div>
                <!--End Backlog-->
                <button class="create js--create">+ Create issue</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
