Acazia Software/src/board.pug
extend layout.pug

block head
  // CDN CK Editor
  <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 POS_UI/UX
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-board.png', '#', 'BDS Board')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints', 'active')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')

    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .popup.board
    .popup__overlay
    .issue-details.popup__item
      .issue__left
        header.epic__header.dflexs
          .header__item.left
            h3.title Drop-1906 / Drop-1919
            h1.title Receipt Email; Card on delivery fee

        section.issue__body
          .issue__tools
            .button
            button.transparent.btn
              <i class="fas fa-paperclip"></i>
              |Attach
            button.transparent.btn
              <i class="fas fa-link"></i>
              |Link issue
            button.transparent.btn
              <i class="fas fa-ellipsis-h"></i>

          .issue__content
            h3.title Description
            .ckEditor
              #editor

            button.btn.js--accept Save
            button.btn.red.transparent.js--cancel Cancel

            h3.title(style="margin-top: 2rem;") Attachment
            .attachment
              img(src="./images/issues/attachment-image-1.png" alt="")
              img(src="./images/issues/attachment-image-2.png" alt="")

            h3.title(style="color: #000; margin-bottom: 1.5rem;")
              |Activity
              span(style="color: #737a86; padding-left: 1.5rem") Comments
                i.fas.fa-angle-down(style="margin-left: 10px;")


          .add-comment
            .avatar
              img(src="./images/avatar/avatar-2.png" alt="")
            .field
              input(type="text" placeholder="Add a comment...")

      .issue__right
        .issue__close.js--cancel
          img(src="./images/icon/icon-close.png" alt="")
        .issue__tools.dflexs
          .icon.dflex(style="margin-right: 10px;")
            img(src="./images/icon/icon-customer-review.png" alt="")
            | Give feedback
          .icon.dflex
            img(src="./images/icon/icon-view.png" alt="")
            | 2
          button.btn.transparent.red
            <i class="fas fa-share-alt"></i>
          button.btn.transparent.red
            <i class="fas fa-ellipsis-h"></i>
        .issue__content
          .field.custom-select
            select
              option(value="") In Review
              option(value="") In Review 1
              option(value="") In Review 2
          h3.title Assignee
          .person
            img(src="./images/avatar/avatar-1.jpg" alt="")
            h4.name Marcos Lopez
          h3.title Reporter
          .person
            img(src="./images/avatar/avatar-3.png" alt="")
            h4.name Cuong Do
          h3.title Labels
          p.gray-color None
          h3.title Sprint
          p.blue-color Drop Sprint 2 (Jan 30- Feb 12)
          h3.title Priorty
          p.gray-color(style="font-weight: 600").dflexs
            sapn Medium
            i.fas.fa-arrow-up(style="color: #e7806a")
          .line
          .dflexs
            p Created Feb 7, 2020, 10:47 AM
            p 
              img(src="./images/icon/icon-setting.svg" alt="" style="vertical-align: middle; margin-right: 10px;")
              |Configure
          p.gray-color Updated 3 days ago

  header.board__header.dflexs
    .header__item.left
      h3.title Project / BDS / BDS Board
      h1.title BDS Sprint 5
    .header__item.right
      
      p.dflex
        button.star
          <i class="far fa-star"></i>
        <i class="far fa-clock"></i>
        span 4 Days remaining
      button.btn.big.js--create Complete Sprint
      button.btn.red.transparent
        <i class="fas fa-share-alt"></i>
      button.btn.red.transparent 
        <i class="fas fa-ellipsis-h"></i>

  section.board__body
    .board__tools.dflex
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")

      .people
        a(href="member.html")
          img(src="./images/avatar/avatar-1.jpg" alt="")
        a(href="member.html")
          img(src="./images/avatar/avatar-2.png" alt="")
        a(href="member.html")
          img(src="./images/avatar/avatar-3.png" alt="")
        a(href="member.html").blue-bg.white-color PH
        a(href="member.html").purple-bg.white-color VP
        a(href="member.html").gray-bg.gray-color +7

      button Only My Issues
      button Recently Updated


    .table.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td TO DO
            td IN PROGRESS
            td FEEDBACK
            td UNRESOLVED
            td DEV COMPLETED
            td IN REVIEW
            td DONE
        tbody
          mixin board(title, des, icon)
            td
              .project
                p= title
                .status.dflex
                  .icon
                    img(src=`./images/icon/${icon}.png`, alt="")
                  .icon.red-color
                    i.fas.fa-arrow-up
                  .icon.purple-bg VA
                p.gray-color= des
          tr
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-task')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-story')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-task')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-story')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
          tr
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-task')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-story')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-task')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-bug')
          tr
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-bug')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-bug')
            +board('Android - header che mất các tag tìm kiếm', 'BDS_462', 'icon-state-task')
            +board('Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi', 'BDS_465', 'icon-state-story')
            td
            td
            td

Acazia Software/src/board.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
    <!-- CDN CK Editor--><script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__current"><img src="./images/icon/icon-folder.png" alt="">
        <div class="content">
          <h2>POS_UI/UX</h2>
          <p>Sofware Project</p><i class="fas fa-angle-down"></i>
        </div>
      </div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-board.png" alt=""><a class="nav__link" href="#">BDS Board</a></li>
                <li><img src="./images/icon/icon-black-log.png" alt=""><a class="nav__link" href="blacklog.html">Backlog</a></li>
                <li class="active"><img src="./images/icon/icon-sprints.png" alt=""><a class="nav__link" href="board.html">Active Sprints</a></li>
                <li><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="reports.html">Reports</a></li>
      </ul>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-releases.png" alt=""><a class="nav__link" href="releases.html">Releases</a></li>
                <li><img src="./images/icon/icon-epic.png" alt=""><a class="nav__link" href="epic.html">Epics</a></li>
                <li><img src="./images/icon/icon-filter.png" alt=""><a class="nav__link" href="issue-details.html">Issues &amp; filters</a></li>
                <li><img src="./images/icon/icon-pages.png" alt=""><a class="nav__link" href="#">Pages</a></li>
                <li><img src="./images/icon/icon-slack.png" alt=""><a class="nav__link" href="#">Slack Integration</a></li>
                <li><img src="./images/icon/icon-setting.svg" alt=""><a class="nav__link" href="project-setting-info.html">Project settings</a></li>
      </ul>
    </div>
    <main>
      <div class="popup board">
        <div class="popup__overlay"></div>
        <div class="issue-details popup__item">
          <div class="issue__left">
            <header class="epic__header dflexs">
              <div class="header__item left">
                <h3 class="title">Drop-1906 / Drop-1919</h3>
                <h1 class="title">Receipt Email; Card on delivery fee</h1>
              </div>
            </header>
            <section class="issue__body">
              <div class="issue__tools">
                <div class="button"></div>
                <button class="transparent btn">
                  <i class="fas fa-paperclip"></i>Attach</button>
                <button class="transparent btn">
                  <i class="fas fa-link"></i>Link issue</button>
                <button class="transparent btn"><i class="fas fa-ellipsis-h"></i></button>
              </div>
              <div class="issue__content">
                <h3 class="title">Description</h3>
                <div class="ckEditor">
                  <div id="editor"></div>
                </div>
                <button class="btn js--accept">Save</button>
                <button class="btn red transparent js--cancel">Cancel</button>
                <h3 class="title" style="margin-top: 2rem;">Attachment</h3>
                <div class="attachment"><img src="./images/issues/attachment-image-1.png" alt=""><img src="./images/issues/attachment-image-2.png" alt=""></div>
                <h3 class="title" style="color: #000; margin-bottom: 1.5rem;">Activity<span style="color: #737a86; padding-left: 1.5rem">Comments<i class="fas fa-angle-down" style="margin-left: 10px;"></i></span></h3>
              </div>
              <div class="add-comment">
                <div class="avatar"><img src="./images/avatar/avatar-2.png" alt=""></div>
                <div class="field">
                  <input type="text" placeholder="Add a comment...">
                </div>
              </div>
            </section>
          </div>
          <div class="issue__right">
            <div class="issue__close js--cancel"><img src="./images/icon/icon-close.png" alt=""></div>
            <div class="issue__tools dflexs">
              <div class="icon dflex" style="margin-right: 10px;"><img src="./images/icon/icon-customer-review.png" alt="">Give feedback</div>
              <div class="icon dflex"><img src="./images/icon/icon-view.png" alt="">2</div>
              <button class="btn transparent red"><i class="fas fa-share-alt"></i></button>
              <button class="btn transparent red"><i class="fas fa-ellipsis-h"></i></button>
            </div>
            <div class="issue__content">
              <div class="field custom-select">
                <select>
                  <option value="">In Review</option>
                  <option value="">In Review 1</option>
                  <option value="">In Review 2</option>
                </select>
              </div>
              <h3 class="title">Assignee</h3>
              <div class="person"><img src="./images/avatar/avatar-1.jpg" alt="">
                <h4 class="name">Marcos Lopez</h4>
              </div>
              <h3 class="title">Reporter</h3>
              <div class="person"><img src="./images/avatar/avatar-3.png" alt="">
                <h4 class="name">Cuong Do</h4>
              </div>
              <h3 class="title">Labels</h3>
              <p class="gray-color">None</p>
              <h3 class="title">Sprint</h3>
              <p class="blue-color">Drop Sprint 2 (Jan 30- Feb 12)</p>
              <h3 class="title">Priorty</h3>
              <p class="gray-color dflexs" style="font-weight: 600">
                <sapn>Medium</sapn><i class="fas fa-arrow-up" style="color: #e7806a"></i>
              </p>
              <div class="line"></div>
              <div class="dflexs">
                <p>Created Feb 7, 2020, 10:47 AM</p>
                <p> <img src="./images/icon/icon-setting.svg" alt="" style="vertical-align: middle; margin-right: 10px;">Configure</p>
              </div>
              <p class="gray-color">Updated 3 days ago</p>
            </div>
          </div>
        </div>
      </div>
      <header class="board__header dflexs">
        <div class="header__item left">
          <h3 class="title">Project / BDS / BDS Board</h3>
          <h1 class="title">BDS Sprint 5</h1>
        </div>
        <div class="header__item right">
          <p class="dflex">
            <button class="star"><i class="far fa-star"></i></button><i class="far fa-clock"></i><span>4 Days remaining</span>
          </p>
          <button class="btn big js--create">Complete Sprint</button>
          <button class="btn red transparent"><i class="fas fa-share-alt"></i></button>
          <button class="btn red transparent">
             <i class="fas fa-ellipsis-h"></i></button>
        </div>
      </header>
      <section class="board__body">
        <div class="board__tools dflex">
          <div class="field">
            <input type="text" placeholder="Search"><img src="./images/icon/icon-search.svg" alt="">
          </div>
          <div class="people"><a href="member.html"><img src="./images/avatar/avatar-1.jpg" alt=""></a><a href="member.html"><img src="./images/avatar/avatar-2.png" alt=""></a><a href="member.html"><img src="./images/avatar/avatar-3.png" alt=""></a><a class="blue-bg white-color" href="member.html">PH</a><a class="purple-bg white-color" href="member.html">VP</a><a class="gray-bg gray-color" href="member.html">+7</a></div>
          <button>Only My Issues</button>
          <button>Recently Updated</button>
        </div>
        <div class="table custom-scroll-bar">
          <table cellspacing="0">
            <thead>
              <tr>
                <td>TO DO</td>
                <td>IN PROGRESS</td>
                <td>FEEDBACK</td>
                <td>UNRESOLVED</td>
                <td>DEV COMPLETED</td>
                <td>IN REVIEW</td>
                <td>DONE</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-task.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-story.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_465</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-task.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-story.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_465</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
              </tr>
              <tr>
                              <td>
                                <div class="project">
                                  <p>Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-task.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_465</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-story.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_465</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-task.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_465</p>
                                </div>
                              </td>
              </tr>
              <tr>
                              <td>
                                <div class="project">
                                  <p>Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_465</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-bug.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android - header che mất các tag tìm kiếm</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-task.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_462</p>
                                </div>
                              </td>
                              <td>
                                <div class="project">
                                  <p>Android, ios - [ Chi tiết tiện ích ] UI hiển thị lỗi</p>
                                  <div class="status dflex">
                                    <div class="icon"><img src="./images/icon/icon-state-story.png" alt=""></div>
                                    <div class="icon red-color"><i class="fas fa-arrow-up"></i></div>
                                    <div class="icon purple-bg">VA</div>
                                  </div>
                                  <p class="gray-color">BDS_465</p>
                                </div>
                              </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
