Acazia Software/dist/epic.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__current"><img src="./images/icon/icon-folder.png" alt="">
        <div class="content">
          <h2>POS_UI/UX</h2>
          <p>Sofware Project</p><i class="fas fa-angle-down"></i>
        </div>
      </div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-layer.png" alt=""><a class="nav__link" href="#">POS_UI/UX</a></li>
                <li><img src="./images/icon/icon-black-log.png" alt=""><a class="nav__link" href="blacklog.html">Backlog</a></li>
                <li><img src="./images/icon/icon-sprints.png" alt=""><a class="nav__link" href="board.html">Active Sprints</a></li>
                <li><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="reports.html">Reports</a></li>
      </ul>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-releases.png" alt=""><a class="nav__link" href="releases.html">Releases</a></li>
                <li class="active"><img src="./images/icon/icon-epic.png" alt=""><a class="nav__link" href="epic.html">Epics</a></li>
                <li><img src="./images/icon/icon-filter.png" alt=""><a class="nav__link" href="issue-details.html">Issues &amp; filters</a></li>
                <li><img src="./images/icon/icon-pages.png" alt=""><a class="nav__link" href="#">Pages</a></li>
                <li><img src="./images/icon/icon-slack.png" alt=""><a class="nav__link" href="#">Slack Integration</a></li>
                <li><img src="./images/icon/icon-setting.svg" alt=""><a class="nav__link" href="project-setting-info.html">Project settings</a></li>
      </ul>
    </div>
    <main>
      <div class="popup epic">
        <div class="popup__overlay"></div>
        <div class="popup__item">
          <h2>Create Epic</h2>
          <form action="">
            <div class="col-lg-6 col-12">
              <h6>
                 Project<span>*</span></h6>
              <div class="field custom-select">
                <select>
                  <option value="">DROP_UI/UX (PU)</option>
                  <option value="">DROP_UI/UX (PU) 1</option>
                  <option value="">DROP_UI/UX (PU) 2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <h6>
                 Issues Type<span>*</span></h6>
              <div class="field custom-select" style="padding-left: 40px;"><img src="./images/icon/icon-state-epic.png" alt="">
                <select>
                  <option value="">
                     Epic</option>
                  <option value="">
                     Story</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <h6>
                 Epic Name<span>*</span></h6>
              <div class="field">
                <input type="text">
              </div>
              <h6>
                 Summary<span>*</span></h6>
              <div class="field">
                <input type="text">
              </div>
            </div>
            <div class="col-12" style="text-align: center">
              <button class="btn big js--accept">Create</button>
              <button class="btn big red transparent js--cancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <header class="epic__header dflexs">
        <div class="header__item left">
          <h3 class="title">Projects / POS_UI/UX</h3>
          <h1 class="title">Epics</h1>
        </div>
        <div class="header__item right">
          <button class="btn big js--create">Create Epic</button>
        </div>
      </header>
      <section class="epic__body">
        <div class="epic__tools">
          <div class="field">
            <input type="text" placeholder="Search"><img src="./images/icon/icon-search.svg" alt="">
          </div>
          <div class="field custom-select">
            <select>
              <option value="">Unreleased</option>
              <option value="">Unreleased 1</option>
              <option value="">Unreleased 2</option>
              <option value="">Unreleased 3</option>
            </select>
          </div>
        </div>
        <div class="table-epic custom-scroll-bar">
          <table cellspacing="0">
            <thead>
              <tr>
                <td>Name</td>
                <td>Progress</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
                            <tr>
                              <td><a href="#">10 Block UI - UX</a></td>
                              <td> 
                                <div class="progress green"></div>
                              </td>
                              <td>
                                <button><i class="fas fa-ellipsis-h"></i></button>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="#">Androi_Block_UI - UX</a></td>
                              <td> 
                                <div class="progress blue"></div>
                              </td>
                              <td>
                                <button><i class="fas fa-ellipsis-h"></i></button>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="#">10 Block UI - UX</a></td>
                              <td> 
                                <div class="progress green"></div>
                              </td>
                              <td>
                                <button><i class="fas fa-ellipsis-h"></i></button>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="#">Androi_Block_UI - UX</a></td>
                              <td> 
                                <div class="progress blue"></div>
                              </td>
                              <td>
                                <button><i class="fas fa-ellipsis-h"></i></button>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="#">10 Block UI - UX</a></td>
                              <td> 
                                <div class="progress green"></div>
                              </td>
                              <td>
                                <button><i class="fas fa-ellipsis-h"></i></button>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="#">Androi_Block_UI - UX</a></td>
                              <td> 
                                <div class="progress blue"></div>
                              </td>
                              <td>
                                <button><i class="fas fa-ellipsis-h"></i></button>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="#">10 Block UI - UX</a></td>
                              <td> 
                                <div class="progress green"></div>
                              </td>
                              <td>
                                <button><i class="fas fa-ellipsis-h"></i></button>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="#">Androi_Block_UI - UX</a></td>
                              <td> 
                                <div class="progress blue"></div>
                              </td>
                              <td>
                                <button><i class="fas fa-ellipsis-h"></i></button>
                              </td>
                            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>

Acazia Software/src/epic.pug
extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 POS_UI/UX
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')

    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics', 'active')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .popup.epic
    .popup__overlay
    .popup__item
      h2 Create Epic
      form(action="")
        .col-lg-6.col-12
          h6 
            |Project
            span *
          .field.custom-select
            select
              option(value="") DROP_UI/UX (PU)
              option(value="") DROP_UI/UX (PU) 1
              option(value="") DROP_UI/UX (PU) 2
        .col-lg-6.col-12
          h6 
            |Issues Type
            span *
          .field.custom-select(style="padding-left: 40px;")
            img(src="./images/icon/icon-state-epic.png" alt="")
            select
              option(value="") 
                |Epic
              option(value="") 
                |Story
        .col-12
          h6 
            |Epic Name
            span *
          .field
            input(type="text")
          h6 
            |Summary
            span *
          .field
            input(type="text")
        .col-12(style="text-align: center")
          button.btn.big.js--accept Create
          button.btn.big.red.transparent.js--cancel Cancel


  header.epic__header.dflexs
    .header__item.left
      h3.title Projects / POS_UI/UX
      h1.title Epics
    .header__item.right
      button.btn.big.js--create Create Epic

  section.epic__body
    .epic__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .field.custom-select
        select
          option(value="") Unreleased
          option(value="") Unreleased 1
          option(value="") Unreleased 2
          option(value="") Unreleased 3

    .table-epic.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td Name
            td Progress
            td
        tbody
          mixin rowTable(title, color)
            tr
              td
                a(href="#")= title
              td 
                .progress(class=`${color}`)
              td
                button
                  <i class="fas fa-ellipsis-h"></i>
          +rowTable('10 Block UI - UX', 'green')
          +rowTable('Androi_Block_UI - UX', 'blue')
          +rowTable('10 Block UI - UX', 'green')
          +rowTable('Androi_Block_UI - UX', 'blue')
          +rowTable('10 Block UI - UX', 'green')
          +rowTable('Androi_Block_UI - UX', 'blue')
          +rowTable('10 Block UI - UX', 'green')
          +rowTable('Androi_Block_UI - UX', 'blue')
