Acazia Software/src/issue-details.pug
extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 BDS
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports')
      
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters', 'active')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  .issue-details
    .issue__left
      header.epic__header.dflexs
        .header__item.left
          h3.title Drop-1935
          h1.title BUG; Dispatch/ driver app; inaccurate location shown in map pin for various addresses

      section.issue__body
        .issue__tools
          .button
          button.transparent.btn
            <i class="fas fa-paperclip"></i>
            |Attach
          button.transparent.btn
            <i class="fas fa-link"></i>
            |Link issue

        .issue__content
          h3.title Description
          p 
            |The address listed below does not show the correct location within our platform maps. If you use any other maps app, it will show the correct location. Dispatch and driver app is incorrect
            br
            |9999 Foothill Blvd
            |Rancho Cucamonga, CA 91730
            |United States
            br
            |Drop-1934 was the ticket created by the client experiencing this
          h3.title Environment
          p.gray-color None
          h3.title Attachment
          .attachment
            img(src="./images/issues/attachment-image-1.png" alt="")
            img(src="./images/issues/attachment-image-2.png" alt="")
            img(src="./images/issues/attachment-image-3.png" alt="")
            img(src="./images/issues/attachment-image-4.png" alt="")
          h3.title Activity
          .filter
            p.gray-color(style="margin: 0;") Show
            button.btn.red.transparent Comments
            button.btn.transparent History
            button.btn.transparent Work Log
          .comments
            .comment__item
              .avatar
                img(src="./images/avatar/avatar-1.jpg" alt="")
              .info
                h4.name 
                  |Cuong do
                  span.date Feb 10, 2020, 6:58 PM
                p Please send the video when you adding address on PWA
                .comment__tools
                  button Edit
                  button Delete
                  button 
                    <i class="far fa-smile-beam"></i>

        .add-comment
          .avatar
            img(src="./images/avatar/avatar-2.png" alt="")
          .field
            input(type="text" placeholder="Add a comment...")


    .issue__right
      .issue__close
        img(src="./images/icon/icon-close.png" alt="")
      .issue__tools.dflexs
        .icon
          img(src="./images/icon/icon-customer-review.png" alt="")
        .icon.dflex
          img(src="./images/icon/icon-view.png" alt="")
          | 2
        button.btn.transparent.red
          <i class="fas fa-share-alt"></i>
        button.btn.transparent.red
          <i class="fas fa-ellipsis-h"></i>
      .issue__content
        .field.custom-select
          select
            option(value="") Feedback/ Pending
            option(value="") Feedback/ Pending 1
            option(value="") Feedback/ Pending 2
            option(value="") Feedback/ Pending 3
        h3.title Assignee
        .person
          img(src="./images/avatar/avatar-1.jpg" alt="")
          h4.name Marcos Lopez
        h3.title Reporter
        .person
          img(src="./images/avatar/avatar-3.png" alt="")
          h4.name Cuong Do
        h3.title Labels
        p.gray-color None
        h3.title Sprint
        p.blue-color Drop Sprint 2 (Jan 30- Feb 12)
        h3.title Priorty
        p.gray-color(style="font-weight: 600").dflexs
          sapn Medium
          i.fas.fa-arrow-up(style="color: #e7806a")
        .line
        .dflexs
          p Created Feb 7, 2020, 10:47 AM
          p 
            img(src="./images/icon/icon-setting.svg" alt="" style="vertical-align: middle; margin-right: 10px;")
            |Configure
        p.gray-color Updated 3 days ago

Acazia Software/src/issue-details.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__current"><img src="./images/icon/icon-folder.png" alt="">
        <div class="content">
          <h2>BDS</h2>
          <p>Sofware Project</p><i class="fas fa-angle-down"></i>
        </div>
      </div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-layer.png" alt=""><a class="nav__link" href="#">POS_UI/UX</a></li>
                <li><img src="./images/icon/icon-black-log.png" alt=""><a class="nav__link" href="blacklog.html">Backlog</a></li>
                <li><img src="./images/icon/icon-sprints.png" alt=""><a class="nav__link" href="board.html">Active Sprints</a></li>
                <li><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="reports.html">Reports</a></li>
      </ul>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-releases.png" alt=""><a class="nav__link" href="releases.html">Releases</a></li>
                <li><img src="./images/icon/icon-epic.png" alt=""><a class="nav__link" href="epic.html">Epics</a></li>
                <li class="active"><img src="./images/icon/icon-filter.png" alt=""><a class="nav__link" href="issue-details.html">Issues &amp; filters</a></li>
                <li><img src="./images/icon/icon-pages.png" alt=""><a class="nav__link" href="#">Pages</a></li>
                <li><img src="./images/icon/icon-slack.png" alt=""><a class="nav__link" href="#">Slack Integration</a></li>
                <li><img src="./images/icon/icon-setting.svg" alt=""><a class="nav__link" href="project-setting-info.html">Project settings</a></li>
      </ul>
    </div>
    <main>
      <div class="issue-details">
        <div class="issue__left">
          <header class="epic__header dflexs">
            <div class="header__item left">
              <h3 class="title">Drop-1935</h3>
              <h1 class="title">BUG; Dispatch/ driver app; inaccurate location shown in map pin for various addresses</h1>
            </div>
          </header>
          <section class="issue__body">
            <div class="issue__tools">
              <div class="button"></div>
              <button class="transparent btn">
                <i class="fas fa-paperclip"></i>Attach</button>
              <button class="transparent btn">
                <i class="fas fa-link"></i>Link issue</button>
            </div>
            <div class="issue__content">
              <h3 class="title">Description</h3>
              <p>
                 The address listed below does not show the correct location within our platform maps. If you use any other maps app, it will show the correct location. Dispatch and driver app is incorrect<br>9999 Foothill Blvd
                Rancho Cucamonga, CA 91730
                United States<br>Drop-1934 was the ticket created by the client experiencing this
              </p>
              <h3 class="title">Environment</h3>
              <p class="gray-color">None</p>
              <h3 class="title">Attachment</h3>
              <div class="attachment"><img src="./images/issues/attachment-image-1.png" alt=""><img src="./images/issues/attachment-image-2.png" alt=""><img src="./images/issues/attachment-image-3.png" alt=""><img src="./images/issues/attachment-image-4.png" alt=""></div>
              <h3 class="title">Activity</h3>
              <div class="filter">
                <p class="gray-color" style="margin: 0;">Show</p>
                <button class="btn red transparent">Comments</button>
                <button class="btn transparent">History</button>
                <button class="btn transparent">Work Log</button>
              </div>
              <div class="comments">
                <div class="comment__item">
                  <div class="avatar"><img src="./images/avatar/avatar-1.jpg" alt=""></div>
                  <div class="info">
                    <h4 class="name">
                       Cuong do<span class="date">Feb 10, 2020, 6:58 PM</span></h4>
                    <p>Please send the video when you adding address on PWA</p>
                    <div class="comment__tools">
                      <button>Edit</button>
                      <button>Delete</button>
                      <button>
                         <i class="far fa-smile-beam"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="add-comment">
              <div class="avatar"><img src="./images/avatar/avatar-2.png" alt=""></div>
              <div class="field">
                <input type="text" placeholder="Add a comment...">
              </div>
            </div>
          </section>
        </div>
        <div class="issue__right">
          <div class="issue__close"><img src="./images/icon/icon-close.png" alt=""></div>
          <div class="issue__tools dflexs">
            <div class="icon"><img src="./images/icon/icon-customer-review.png" alt=""></div>
            <div class="icon dflex"><img src="./images/icon/icon-view.png" alt="">2</div>
            <button class="btn transparent red"><i class="fas fa-share-alt"></i></button>
            <button class="btn transparent red"><i class="fas fa-ellipsis-h"></i></button>
          </div>
          <div class="issue__content">
            <div class="field custom-select">
              <select>
                <option value="">Feedback/ Pending</option>
                <option value="">Feedback/ Pending 1</option>
                <option value="">Feedback/ Pending 2</option>
                <option value="">Feedback/ Pending 3</option>
              </select>
            </div>
            <h3 class="title">Assignee</h3>
            <div class="person"><img src="./images/avatar/avatar-1.jpg" alt="">
              <h4 class="name">Marcos Lopez</h4>
            </div>
            <h3 class="title">Reporter</h3>
            <div class="person"><img src="./images/avatar/avatar-3.png" alt="">
              <h4 class="name">Cuong Do</h4>
            </div>
            <h3 class="title">Labels</h3>
            <p class="gray-color">None</p>
            <h3 class="title">Sprint</h3>
            <p class="blue-color">Drop Sprint 2 (Jan 30- Feb 12)</p>
            <h3 class="title">Priorty</h3>
            <p class="gray-color dflexs" style="font-weight: 600">
              <sapn>Medium</sapn><i class="fas fa-arrow-up" style="color: #e7806a"></i>
            </p>
            <div class="line"></div>
            <div class="dflexs">
              <p>Created Feb 7, 2020, 10:47 AM</p>
              <p> <img src="./images/icon/icon-setting.svg" alt="" style="vertical-align: middle; margin-right: 10px;">Configure</p>
            </div>
            <p class="gray-color">Updated 3 days ago</p>
          </div>
        </div>
      </div>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
