Acazia Software/src/layout.pug
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Acazia Software

    //Logo Icon
    link(rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png")

    //Style CSS
    link(rel="stylesheet" type="text/css" href="./css/main.css")

    //Font Awesome
    script(src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous")

    block head

  body
    // Search
    .overlay-shadow
    .search.js--search
      .close
        img(src="./images/icon/icon-close.png" alt="")
      .field
        input(type="text" placeholder="Search here")

      .search__recent
        h3.title Recent Issues
        .recent__issues
          mixin recentIssues(icon, title, des)
            a(href="#").item
              img(src=`./images/icon/${icon}.png`, alt="")
              .content
                h6.title= title
                p.des= des
          +recentIssues('icon-state-story', 'CR; Edit Reports to include COGS to use the wholesale...', 'DROP-1954')
          +recentIssues('icon-state-epic', 'IOS Driver; Update Driver App Flows', 'DROP-2063')
          +recentIssues('icon-state-bug', 'BUG; Dispatch/ driver app, inaccurate location show in...', 'DROP-1937')
          +recentIssues('icon-state-story', 'PWA; A customer must verify their account with every...', 'DROP-1838')

      .project__recent
        h3.title Recent Projects
        .recent__project
          a(href="#").item
            .icon
              img(src="./images/icon/icon-robot.png" alt="")
            .content
              h4.title DROP_UI/UX
              p.des Board - DROP_UI/UX

          a(href="#").item
            .icon
              img(src="./images/icon/icon-robot.png" alt="")
            .content
              h4.title POS_UI/UX
      // Search

    nav.dflexs
      .nav__item.dflex
        a(href="all-issues.html").nav__logo
          img(src="./images/logo/logo.png" alt="")

        .line(style="margin-bottom: 2.5rem;")

        .nav__tools
          button        
            img(src="./images/icon/icon-star.svg" alt="")
          button.js--search-btn      
            img(src="./images/icon/icon-search.svg" alt="")
          button.js--nav-open       
            img(src="./images/icon/icon-plus.svg" alt="")

      .nav__item.dflex
        .nav__tools
          button.bell  
            img(src="./images/icon/icon-bell.svg" alt="")
          button          
            img(src="./images/icon/icon-setting.svg" alt="")

        .line

        a(href="#").nav__avatar
          img(src="./images/avatar/avatar-1.jpg" alt="")
        ul.sub__avatar
          li
            a(href='#') Give us feedback
          li
            a(href='#').red-light-color ACAZIA SOFTWARE
          li
            a(href='#') Settings
          li
            a(href='#').red-light-color Profile
          li.dflex(style="justify-content: flex-start;")
            a(href='#') Account Setting
            img(src="./images/icon/icon-edit.png" alt="")
          li
            a(href="#").red-color Log out


    block nav-expand

    main
      block pages


    block script
    script(src="./js/main.js")

Acazia Software/src/layout.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <main>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
