Acazia Software/src/member.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__logo">Acazia Software</div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-dashboard.svg" alt=""><a class="nav__link" href="#">Dashboard</a></li>
                <li><img src="./images/icon/icon-project.png" alt=""><a class="nav__link" href="#">Project</a></li>
                <li><img src="./images/icon/icon-issues.png" alt=""><a class="nav__link" href="#">Issues</a></li>
                <li><img src="./images/icon/icon-tempo.png" alt=""><a class="nav__link" href="#">Tempo</a></li>
                <li class="active"><img src="./images/icon/icon-people.png" alt=""><a class="nav__link" href="#">People</a></li>
                <li><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="#">Charts</a></li>
      </ul>
    </div>
    <main>
      <div class="member__header">
        <div class="account">
          <div class="avatar"><img src="./images/avatar/avatar-5.jpg" alt=""></div>
          <div class="info">
            <h4 class="name">Cuong Do</h4>
            <button class="btn gray">Manage your account</button>
          </div>
        </div>
      </div>
      <section class="member__body dflex">
        <div class="member__item left col-4">
          <h6 class="title">About</h6>
          <ul>
            <li><img src="./images/icon/icon-organization.png" alt="">
              <p>Technical Leader</p>
            </li>
            <li><img src="./images/icon/icon-group.png" alt="">
              <p>Development Team</p>
            </li>
            <li><img src="./images/icon/icon-hotel.png" alt="">
              <p>Acazia Software</p>
            </li>
            <li><img src="./images/icon/icon-map-marker.png" alt="">
              <p>Long Bien, Ha Noi</p>
            </li>
            <li><img src="./images/icon/icon-clock.png" alt="">
              <p>5:05 PM (GMT+07:00)</p>
            </li>
          </ul>
        </div>
        <div class="member__item right col-8">
          <h6 class="title">
             Worked on<a href="#">View all</a></h6>
          <div class="worked"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                          <div class="content">
                            <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                            <p class="des">DROP-1954</p>
                          </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                          <div class="content">
                            <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                            <p class="des">DROP-2063</p>
                          </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                          <div class="content">
                            <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                            <p class="des">DROP-1937</p>
                          </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                          <div class="content">
                            <h6 class="title">PWA; A customer must verify their account with every...</h6>
                            <p class="des">DROP-1838</p>
                          </div></a>
          </div><a class="gray-color" href="#" style="font-size: 14px;">Show More</a>
          <div class="line"></div>
          <h6 class="title">Places they work</h6>
          <div class="places__items"><a class="item" href="#">
              <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
              <div class="content">
                <h4 class="title">DROP_UI/UX</h4>
                <p class="des">Board - DROP_UI/UX</p>
              </div></a><a class="item" href="#">
              <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
              <div class="content">
                <h4 class="title">POS_UI/UX</h4>
              </div></a></div>
          <h6 class="title">Work with</h6>
          <div class="people__items"><a class="people__item" href="#">
                          <div class="image"><img src="./images/avatar/avatar-2.png" alt=""></div>
                          <h4 class="name">Cuong Do</h4>
                          <p class="des">Project manager</p></a><a class="people__item" href="#">
                          <div class="image"><img src="./images/avatar/avatar-3.png" alt=""></div>
                          <h4 class="name">Cuong Do</h4>
                          <p class="des">Project manager</p></a><a class="people__item" href="#">
                          <div class="image"><img src="./images/avatar/avatar-2.png" alt=""></div>
                          <h4 class="name">Lee Thanh</h4>
                          <p class="des">Development</p></a><a class="people__item" href="#">
                          <div class="image"><img src="./images/avatar/avatar-3.png" alt=""></div>
                          <h4 class="name">Cuong Do</h4>
                          <p class="des">Project manager</p></a><a class="people__item" href="#">
                          <div class="image"><img src="./images/avatar/avatar-4.png" alt=""></div>
                          <h4 class="name">Lee Thanh</h4>
                          <p class="des">Project manager</p></a>
          </div>
        </div>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>

Acazia Software/src/member.pug
extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', '#', 'Project')
      +nav-link('icon-issues.png', '#', 'Issues')
      +nav-link('icon-tempo.png', '#', 'Tempo')
      +nav-link('icon-people.png', '#', 'People', 'active')
      +nav-link('icon-chart.png', '#', 'Charts')

block pages
  .member__header
    .account
      .avatar
        img(src="./images/avatar/avatar-5.jpg" alt="")
      .info
        h4.name Cuong Do
        button.btn.gray Manage your account
  section.member__body.dflex
    .member__item.left.col-4
      h6.title About
      ul
        each item in [{icon: 'icon-organization', des: 'Technical Leader'}, {icon: 'icon-group', des: 'Development Team'}, {icon: 'icon-hotel', des: 'Acazia Software'}, {icon: 'icon-map-marker', des: 'Long Bien, Ha Noi'}, {icon: 'icon-clock', des: '5:05 PM (GMT+07:00)'}]
          li
            img(src=`./images/icon/${item.icon}.png`, alt="")
            p= item.des

    .member__item.right.col-8
      h6.title 
        |Worked on
        a(href="#") View all

      .worked
        mixin workOn(icon, title, des)
          a(href="#").item
            img(src=`./images/icon/${icon}.png`, alt="")
            .content
              h6.title= title
              p.des= des
        +workOn('icon-state-story', 'CR; Edit Reports to include COGS to use the wholesale...', 'DROP-1954')
        +workOn('icon-state-epic', 'IOS Driver; Update Driver App Flows', 'DROP-2063')
        +workOn('icon-state-bug', 'BUG; Dispatch/ driver app, inaccurate location show in...', 'DROP-1937')
        +workOn('icon-state-story', 'PWA; A customer must verify their account with every...', 'DROP-1838')

      a(href="#" style="font-size: 14px;").gray-color Show More

      .line

      h6.title Places they work
      .places__items
        a(href="#").item
          .icon
            img(src="./images/icon/icon-robot.png" alt="")
          .content
            h4.title DROP_UI/UX
            p.des Board - DROP_UI/UX

        a(href="#").item
          .icon
            img(src="./images/icon/icon-robot.png" alt="")
          .content
            h4.title POS_UI/UX

      h6.title Work with

      .people__items
        mixin people(image, name, des)
          a(href="#").people__item
            .image
              img(src=`./images/avatar/${image}.png`, alt="")
            h4.name= name
            p.des= des
        +people('avatar-2', 'Cuong Do', 'Project manager')
        +people('avatar-3', 'Cuong Do', 'Project manager')
        +people('avatar-2', 'Lee Thanh', 'Development')
        +people('avatar-3', 'Cuong Do', 'Project manager')
        +people('avatar-4', 'Lee Thanh', 'Project manager')
