Acazia Software/src/people.pug
extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', 'project.html', 'Project')
      +nav-link('icon-issues.png', 'all-issues.html', 'Issues')
      +nav-link('icon-tempo.png', 'tempo-admin.html', 'Tempo')
      +nav-link('icon-people.png', 'people.html', 'People', 'active')
      +nav-link('icon-chart.png', '#', 'Charts')


block pages
  .popup.people
    .popup__overlay
    .popup__item
      h2 Add People
      form(action="")
        .col-12.input-field
          .field
            input(type="text" placeholder="Type a name, group or email address")
            img(src="./images/icon/icon-search.svg" alt="")

        .col-12.input-field
          h6 
            |Role
          .field.custom-select
            select
              option(value="") Choose role
              option(value="") Choose role 1
              option(value="") Choose role 2
              option(value="") Choose role 3

        .col-12(style="text-align: center")
          button.btn.big.js--accept Add
          button.btn.big.red.transparent.js--cancel Cancel


  header.report__header.dflexs.people
    .header__item.left
      button.search-btn
        img(src="./images/icon/icon-search.svg" alt="")
    .header__item.right
      button.btn.big Manager Users
      button.btn.transparent.big.js--create Start a Team

  section.people__body
    h3.title You work with
    .people__items
      mixin people(image, name, des)
        a(href="member.html").people__item
          .image
            img(src=`./images/avatar/${image}.png`, alt="")
          h4.name= name
          p.des= des
      +people('avatar-2', 'Cuong Do', 'Project manager')
      +people('avatar-3', 'Cuong Do', 'Project manager')
      +people('avatar-2', 'Lee Thanh', 'Development')
      +people('avatar-3', 'Cuong Do', 'Project manager')
      +people('avatar-2', 'Cuong Do', 'Development')
      +people('avatar-3', 'Lee Thanh', 'Project manager')
      +people('avatar-4', 'Cuong Do', 'Project manager')
    .line

    h3.title You teams
    .people__items
      mixin peopleTeam(image, name, des)
        a(href="#").people__item
          .image
            img(src=`./images/avatar/${image}.png`, alt="")
          h4.name= name
          button.btn.transparent= des
      +peopleTeam('avatar-2', 'Your New team', 'Start a Team')

Acazia Software/src/people.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__logo">Acazia Software</div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-dashboard.svg" alt=""><a class="nav__link" href="#">Dashboard</a></li>
                <li><img src="./images/icon/icon-project.png" alt=""><a class="nav__link" href="project.html">Project</a></li>
                <li><img src="./images/icon/icon-issues.png" alt=""><a class="nav__link" href="all-issues.html">Issues</a></li>
                <li><img src="./images/icon/icon-tempo.png" alt=""><a class="nav__link" href="tempo-admin.html">Tempo</a></li>
                <li class="active"><img src="./images/icon/icon-people.png" alt=""><a class="nav__link" href="people.html">People</a></li>
                <li><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="#">Charts</a></li>
      </ul>
    </div>
    <main>
      <div class="popup people">
        <div class="popup__overlay"></div>
        <div class="popup__item">
          <h2>Add People</h2>
          <form action="">
            <div class="col-12 input-field">
              <div class="field">
                <input type="text" placeholder="Type a name, group or email address"><img src="./images/icon/icon-search.svg" alt="">
              </div>
            </div>
            <div class="col-12 input-field">
              <h6>
                 Role</h6>
              <div class="field custom-select">
                <select>
                  <option value="">Choose role</option>
                  <option value="">Choose role 1</option>
                  <option value="">Choose role 2</option>
                  <option value="">Choose role 3</option>
                </select>
              </div>
            </div>
            <div class="col-12" style="text-align: center">
              <button class="btn big js--accept">Add</button>
              <button class="btn big red transparent js--cancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <header class="report__header dflexs people">
        <div class="header__item left">
          <button class="search-btn"><img src="./images/icon/icon-search.svg" alt=""></button>
        </div>
        <div class="header__item right">
          <button class="btn big">Manager Users</button>
          <button class="btn transparent big js--create">Start a Team</button>
        </div>
      </header>
      <section class="people__body">
        <h3 class="title">You work with</h3>
        <div class="people__items"><a class="people__item" href="member.html">
                      <div class="image"><img src="./images/avatar/avatar-2.png" alt=""></div>
                      <h4 class="name">Cuong Do</h4>
                      <p class="des">Project manager</p></a><a class="people__item" href="member.html">
                      <div class="image"><img src="./images/avatar/avatar-3.png" alt=""></div>
                      <h4 class="name">Cuong Do</h4>
                      <p class="des">Project manager</p></a><a class="people__item" href="member.html">
                      <div class="image"><img src="./images/avatar/avatar-2.png" alt=""></div>
                      <h4 class="name">Lee Thanh</h4>
                      <p class="des">Development</p></a><a class="people__item" href="member.html">
                      <div class="image"><img src="./images/avatar/avatar-3.png" alt=""></div>
                      <h4 class="name">Cuong Do</h4>
                      <p class="des">Project manager</p></a><a class="people__item" href="member.html">
                      <div class="image"><img src="./images/avatar/avatar-2.png" alt=""></div>
                      <h4 class="name">Cuong Do</h4>
                      <p class="des">Development</p></a><a class="people__item" href="member.html">
                      <div class="image"><img src="./images/avatar/avatar-3.png" alt=""></div>
                      <h4 class="name">Lee Thanh</h4>
                      <p class="des">Project manager</p></a><a class="people__item" href="member.html">
                      <div class="image"><img src="./images/avatar/avatar-4.png" alt=""></div>
                      <h4 class="name">Cuong Do</h4>
                      <p class="des">Project manager</p></a>
        </div>
        <div class="line"></div>
        <h3 class="title">You teams</h3>
        <div class="people__items"><a class="people__item" href="#">
                      <div class="image"><img src="./images/avatar/avatar-2.png" alt=""></div>
                      <h4 class="name">Your New team</h4>
                      <button class="btn transparent">Start a Team</button></a>
        </div>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
