Acazia Software/src/project-setting-member.pug
extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 BDS
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

    ul.nav__menu
      +nav-link('icon-circle-left.png', '#', 'Back To Project')
    .line

    ul.nav__menu
      +nav-link('icon-project-setting.png', '#', 'Project Settings')
      +nav-link('icon-info.png', 'project-setting-info.html', 'Project Info')
      +nav-link('icon-member.png', 'project-setting-member.html', 'Members', 'active')
      +nav-link('icon-summary.png', '#', 'Summary')
      +nav-link('icon-delete.png', 'project-setting-delete.html', 'Delete Project')
      
    .line

    ul.nav__menu
      +nav-link('icon-issues-type.png', 'project-issues-type.html', 'Issues Types')
      +nav-link('icon-issues-layout.png', '#', 'Issues Layout')


block pages
  .popup.people
    .popup__overlay
    .popup__item
      h2 Add People
      form(action="")
        .col-12.input-field
          .field
            input(type="text" placeholder="Type a name, group or email address")
            img(src="./images/icon/icon-search.svg" alt="")

        .col-12.input-field
          h6 
            |Role
          .field.custom-select
            select
              option(value="") Choose role
              option(value="") Choose role 1
              option(value="") Choose role 2
              option(value="") Choose role 3

        .col-12(style="text-align: center")
          button.btn.big.js--accept Add
          button.btn.big.red.transparent.js--cancel Cancel

  .popup.project
    .popup__overlay
    .popup__item
      h2 Create a project
      form(action="")
        .col-3.input-field
          h6 
            |Project name
            span *
        .field.col-9.input-field
          input(type="text")
        .col-3.input-field
          h6 
            |Project key
            span *
        .field.col-9.input-field
          input(type="text")

        .col-3.input-field
          h6 
            |Description
        .col-9.input-field(style="padding: 0;")
          .field-textarea
            textarea

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create Project
          button.btn.big.red.transparent.js--cancel Cancel


  header.project__header.dflexs
    .header__item.left
      h3.title Projects / DROP_UI/UX / Project Settings
      h1.title People
    .header__item.right
      button.btn.big.js--create Add People

  section.project-setting-member
    .project__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .field.custom-select
        select
          option(value="") Role 
          option(value="") Role 1
          option(value="") Role 2

    .table-project-setting-member.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr  
            td 
              span Name
                span.caret.up 
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td Emali
            td Role
        tbody
          mixin member(avatar, name, email, role, button)
            tr
              td
                img(src=`./images/avatar/${avatar}.png`, alt="")
                =name
              td= email
              td
                span= role
                .tools
                  button.btn= button
                  button.btn.transparent Remove
          +member('avatar-2', 'Jade Gabriel', '-', '10 Block UI - UX', 'Administrators')
          +member('avatar-2', 'Macors Lopez', '-', 'Developers - UX', 'Developers')
          +member('avatar-2', 'Jade Gabriel', '-', 'Users - UX', 'Users')

Acazia Software/dist/project-setting-member.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__current"><img src="./images/icon/icon-folder.png" alt="">
        <div class="content">
          <h2>BDS</h2>
          <p>Sofware Project</p><i class="fas fa-angle-down"></i>
        </div>
      </div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
      </ul>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-circle-left.png" alt=""><a class="nav__link" href="#">Back To Project</a></li>
      </ul>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-project-setting.png" alt=""><a class="nav__link" href="#">Project Settings</a></li>
                <li><img src="./images/icon/icon-info.png" alt=""><a class="nav__link" href="project-setting-info.html">Project Info</a></li>
                <li class="active"><img src="./images/icon/icon-member.png" alt=""><a class="nav__link" href="project-setting-member.html">Members</a></li>
                <li><img src="./images/icon/icon-summary.png" alt=""><a class="nav__link" href="#">Summary</a></li>
                <li><img src="./images/icon/icon-delete.png" alt=""><a class="nav__link" href="project-setting-delete.html">Delete Project</a></li>
      </ul>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-issues-type.png" alt=""><a class="nav__link" href="project-issues-type.html">Issues Types</a></li>
                <li><img src="./images/icon/icon-issues-layout.png" alt=""><a class="nav__link" href="#">Issues Layout</a></li>
      </ul>
    </div>
    <main>
      <div class="popup people">
        <div class="popup__overlay"></div>
        <div class="popup__item">
          <h2>Add People</h2>
          <form action="">
            <div class="col-12 input-field">
              <div class="field">
                <input type="text" placeholder="Type a name, group or email address"><img src="./images/icon/icon-search.svg" alt="">
              </div>
            </div>
            <div class="col-12 input-field">
              <h6>
                 Role</h6>
              <div class="field custom-select">
                <select>
                  <option value="">Choose role</option>
                  <option value="">Choose role 1</option>
                  <option value="">Choose role 2</option>
                  <option value="">Choose role 3</option>
                </select>
              </div>
            </div>
            <div class="col-12" style="text-align: center">
              <button class="btn big js--accept">Add</button>
              <button class="btn big red transparent js--cancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <div class="popup project">
        <div class="popup__overlay"></div>
        <div class="popup__item">
          <h2>Create a project</h2>
          <form action="">
            <div class="col-3 input-field">
              <h6>
                 Project name<span>*</span></h6>
            </div>
            <div class="field col-9 input-field">
              <input type="text">
            </div>
            <div class="col-3 input-field">
              <h6>
                 Project key<span>*</span></h6>
            </div>
            <div class="field col-9 input-field">
              <input type="text">
            </div>
            <div class="col-3 input-field">
              <h6>
                 Description</h6>
            </div>
            <div class="col-9 input-field" style="padding: 0;">
              <div class="field-textarea">
                <textarea></textarea>
              </div>
            </div>
            <div class="col-12" style="text-align: center">
              <button class="btn big js--accept">Create Project</button>
              <button class="btn big red transparent js--cancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <header class="project__header dflexs">
        <div class="header__item left">
          <h3 class="title">Projects / DROP_UI/UX / Project Settings</h3>
          <h1 class="title">People</h1>
        </div>
        <div class="header__item right">
          <button class="btn big js--create">Add People</button>
        </div>
      </header>
      <section class="project-setting-member">
        <div class="project__tools">
          <div class="field">
            <input type="text" placeholder="Search"><img src="./images/icon/icon-search.svg" alt="">
          </div>
          <div class="field custom-select">
            <select>
              <option value="">Role </option>
              <option value="">Role 1</option>
              <option value="">Role 2</option>
            </select>
          </div>
        </div>
        <div class="table-project-setting-member custom-scroll-bar">
          <table cellspacing="0">
            <thead>
              <tr> 
                <td> <span>Name<span class="caret up"> <i class="fas fa-caret-up"></i></span><span class="caret down"><i class="fas fa-caret-down"></i></span></span></td>
                <td>Emali</td>
                <td>Role</td>
              </tr>
            </thead>
            <tbody>
                            <tr>
                              <td><img src="./images/avatar/avatar-2.png" alt="">Jade Gabriel
                              </td>
                              <td>-</td>
                              <td><span>10 Block UI - UX</span>
                                <div class="tools">
                                  <button class="btn">Administrators</button>
                                  <button class="btn transparent">Remove</button>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td><img src="./images/avatar/avatar-2.png" alt="">Macors Lopez
                              </td>
                              <td>-</td>
                              <td><span>Developers - UX</span>
                                <div class="tools">
                                  <button class="btn">Developers</button>
                                  <button class="btn transparent">Remove</button>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td><img src="./images/avatar/avatar-2.png" alt="">Jade Gabriel
                              </td>
                              <td>-</td>
                              <td><span>Users - UX</span>
                                <div class="tools">
                                  <button class="btn">Users</button>
                                  <button class="btn transparent">Remove</button>
                                </div>
                              </td>
                            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
