Acazia Software/src/project.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__logo">Acazia Software</div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-dashboard.svg" alt=""><a class="nav__link" href="#">Dashboard</a></li>
                <li class="active"><img src="./images/icon/icon-project.png" alt=""><a class="nav__link" href="project.html">Project</a></li>
                <li><img src="./images/icon/icon-issues.png" alt=""><a class="nav__link" href="all-issues.html">Issues</a></li>
                <li><img src="./images/icon/icon-tempo.png" alt=""><a class="nav__link" href="tempo-admin.html">Tempo</a></li>
                <li><img src="./images/icon/icon-people.png" alt=""><a class="nav__link" href="people.html">People</a></li>
                <li><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="#">Charts</a></li>
      </ul>
    </div>
    <main>
      <div class="popup project">
        <div class="popup__overlay"></div>
        <div class="popup__item">
          <h2>Create a project</h2>
          <form action="">
            <div class="col-lg-3 input-field col-12">
              <h6>
                 Project name<span>*</span></h6>
            </div>
            <div class="field col-lg-9 input-field col-12">
              <input type="text">
            </div>
            <div class="col-lg-3 input-field col-12">
              <h6>
                 Project key<span>*</span></h6>
            </div>
            <div class="field col-lg-9 input-field col-12">
              <input type="text">
            </div>
            <div class="col-lg-3 input-field col-12">
              <h6>
                 Description</h6>
            </div>
            <div class="col-lg-9 input-field col-12" style="padding: 0;">
              <div class="field-textarea">
                <textarea></textarea>
              </div>
            </div>
            <div class="col-12" style="text-align: center">
              <button class="btn big js--accept">Create Project</button>
              <button class="btn big red transparent js--cancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <header class="project__header dflexs">
        <div class="header__item left">
          <h3 class="title">POS_UI/UX</h3>
          <h1 class="title">Projects</h1>
        </div>
        <div class="header__item right">
          <button class="btn big js--create">Create Project</button>
        </div>
      </header>
      <section class="project__body">
        <h3 class="title">Recent </h3>
        <div class="recent__project"><a class="recent__item" href="blacklog.html">
                      <div class="heading">
                        <div class="icon"><img src="./images/icon/icon-folder.png" alt=""></div>
                        <div class="content">
                          <h4 class="title">POS_UI/UX</h4>
                          <p class="gray-color">Sofware Project</p>
                        </div>
                      </div>
                      <div class="footer"><img src="./images/icon/icon-recent-project.png" alt="">
                        <p>POS_UI/UX</p>
                      </div></a><a class="recent__item" href="blacklog.html">
                      <div class="heading">
                        <div class="icon"><img src="./images/icon/icon-folder.png" alt=""></div>
                        <div class="content">
                          <h4 class="title">POS_UI/UX</h4>
                          <p class="gray-color">Sofware Project</p>
                        </div>
                      </div>
                      <div class="footer"><img src="./images/icon/icon-recent-project.png" alt="">
                        <p>2 boards</p>
                      </div></a>
        </div>
        <div class="project__tools">
          <div class="field">
            <input type="text" placeholder="Search"><img src="./images/icon/icon-search.svg" alt="">
          </div>
          <div class="field custom-select">
            <select>
              <option value="">All types</option>
              <option value="">All types 1</option>
              <option value="">All types 2</option>
              <option value="">All types 3</option>
            </select>
          </div>
          <div class="field custom-select">
            <select>
              <option value="">All categories</option>
              <option value="">All categories 1</option>
              <option value="">All categories 2</option>
              <option value="">All categories 3</option>
            </select>
          </div>
        </div>
        <div class="table-project custom-scroll-bar">
          <table cellspacing="0">
            <thead>
              <tr>
                <td><i class="fas fa-star"></i></td>
                <td><span>Name<span class="caret up"><i class="fas fa-caret-up"></i></span><span class="caret down"><i class="fas fa-caret-down"></i></span></span></td>
                <td><span>Key<span class="caret up"><i class="fas fa-caret-up"></i></span><span class="caret down"><i class="fas fa-caret-down"></i></span></span></td>
                <td><span>Lead<span class="caret up"><i class="fas fa-caret-up"></i></span><span class="caret down"><i class="fas fa-caret-down"></i></span></span></td>
                <td><span>Category<span class="caret up"><i class="fas fa-caret-up"></i></span><span class="caret down"><i class="fas fa-caret-down"></i></span></span></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">10 Block UI - UX</a></td>
                              <td>SS</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Jade Gabriel</span></td>
                              <td>10 Block</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">Android_Block_UI - UX</a></td>
                              <td>AN</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Macors Lopez</span></td>
                              <td>Vapeblock</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">Android_UF_UI - UX</a></td>
                              <td>ANUF</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Macors Lopez</span></td>
                              <td>Uniform</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">Block_Frontend.Admin</a></td>
                              <td>BFA</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Mike Gabriel</span></td>
                              <td>Vapeblock</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">Block UI - UX</a></td>
                              <td>BU</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Jade Gabriel</span></td>
                              <td>Vapeblock</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">Block_Merch.Dash</a></td>
                              <td>BMD</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Vanessa Gabriel</span></td>
                              <td>VapeBlock</td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">Drop_UI - UX</a></td>
                              <td>DROP</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Jade Gabriel</span></td>
                              <td></td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">Drop_UI - UX</a></td>
                              <td>DROP</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Jade Gabriel</span></td>
                              <td></td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">Drop_UI - UX</a></td>
                              <td>DROP</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Jade Gabriel</span></td>
                              <td></td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">FM_Design_Dev Writeoff</a></td>
                              <td>FW</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Jade Gabriel</span></td>
                              <td></td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                              <td><i class="far fa-star"></i></td>
                              <td><a href="blacklog.html">FM_Team AI</a></td>
                              <td>FMPROT</td>
                              <td><img src="./images/avatar/avatar-2.png" alt=""><span>Mike Gabriel</span></td>
                              <td></td>
                              <td><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li><i class="fas fa-angle-left"></i></li>
            <li>1</li>
            <li class="active">2</li>
            <li><i class="fas fa-angle-right"></i></li>
          </ul>
        </div>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>

Acazia Software/src/project.pug
extend layout.pug

block nav-expand
  .nav__expand
    .nav__logo Acazia Software
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-dashboard.svg', '#', 'Dashboard')
      +nav-link('icon-project.png', 'project.html', 'Project', 'active')
      +nav-link('icon-issues.png', 'all-issues.html', 'Issues')
      +nav-link('icon-tempo.png', 'tempo-admin.html', 'Tempo')
      +nav-link('icon-people.png', 'people.html', 'People')
      +nav-link('icon-chart.png', '#', 'Charts')

block pages
  .popup.project
    .popup__overlay
    .popup__item
      h2 Create a project
      form(action="")
        .col-lg-3.input-field.col-12
          h6 
            |Project name
            span *
        .field.col-lg-9.input-field.col-12
          input(type="text")
        .col-lg-3.input-field.col-12
          h6 
            |Project key
            span *
        .field.col-lg-9.input-field.col-12
          input(type="text")

        .col-lg-3.input-field.col-12
          h6 
            |Description
        .col-lg-9.input-field(style="padding: 0;").col-12
          .field-textarea
            textarea

        .col-12(style="text-align: center")
          button.btn.big.js--accept Create Project
          button.btn.big.red.transparent.js--cancel Cancel


  header.project__header.dflexs
    .header__item.left
      h3.title POS_UI/UX
      h1.title Projects
    .header__item.right
      button.btn.big.js--create Create Project

  section.project__body
    h3.title Recent 
    .recent__project
      mixin recentProject(title, des, content)
        a(href="blacklog.html").recent__item
          .heading
            .icon
              img(src="./images/icon/icon-folder.png" alt="")
            .content
              h4.title= title
              p.gray-color= des
          .footer
            img(src="./images/icon/icon-recent-project.png" alt="")
            p= content
      +recentProject('POS_UI/UX', 'Sofware Project', 'POS_UI/UX')
      +recentProject('POS_UI/UX', 'Sofware Project', '2 boards')

    .project__tools
      .field
        input(type="text" placeholder="Search")
        img(src="./images/icon/icon-search.svg" alt="")
      .field.custom-select
        select
          option(value="") All types
          option(value="") All types 1
          option(value="") All types 2
          option(value="") All types 3
      .field.custom-select
        select
          option(value="") All categories
          option(value="") All categories 1
          option(value="") All categories 2
          option(value="") All categories 3

    .table-project.custom-scroll-bar
      table(cellspacing="0")
        thead
          tr
            td
              <i class="fas fa-star"></i>
            td
              span Name
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
              span Key
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
              span Lead
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
              span Category
                span.caret.up
                  i.fas.fa-caret-up
                span.caret.down
                  i.fas.fa-caret-down
            td
        tbody
          mixin projectRow(name, key, lead, category)
            tr
              td
                <i class="far fa-star"></i>
              td
                a(href="blacklog.html")= name
              td= key
              td
                img(src="./images/avatar/avatar-2.png" alt="")
                span= lead
              td= category || ''
              td
                <i class="fas fa-ellipsis-h"></i>
          +projectRow('10 Block UI - UX', 'SS', 'Jade Gabriel', '10 Block')
          +projectRow('Android_Block_UI - UX', 'AN', 'Macors Lopez', 'Vapeblock')
          +projectRow('Android_UF_UI - UX', 'ANUF', 'Macors Lopez', 'Uniform')
          +projectRow('Block_Frontend.Admin', 'BFA', 'Mike Gabriel', 'Vapeblock')
          +projectRow('Block UI - UX', 'BU', 'Jade Gabriel', 'Vapeblock')
          +projectRow('Block_Merch.Dash', 'BMD', 'Vanessa Gabriel', 'VapeBlock')
          +projectRow('Drop_UI - UX', 'DROP', 'Jade Gabriel')
          +projectRow('Drop_UI - UX', 'DROP', 'Jade Gabriel')
          +projectRow('Drop_UI - UX', 'DROP', 'Jade Gabriel')
          +projectRow('FM_Design_Dev Writeoff', 'FW', 'Jade Gabriel')
          +projectRow('FM_Team AI', 'FMPROT', 'Mike Gabriel')

      ul.pagination
        li
          i.fas.fa-angle-left
        li 1
        li.active 2
        li
          i.fas.fa-angle-right
