Acazia Software/src/reports.pug
extend layout.pug

block nav-expand
  .nav__expand
    .nav__current
      img(src="./images/icon/icon-folder.png" alt="")
      .content
        h2 POS_UI/UX
        p Sofware Project
        i.fas.fa-angle-down
    .nav__arrow
      img(src="./images/icon/icon-angle-circle-right.png" alt="")
    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-layer.png', '#', 'POS_UI/UX')
      +nav-link('icon-black-log.png', 'blacklog.html', 'Backlog')
      +nav-link('icon-sprints.png', 'board.html', 'Active Sprints')
      +nav-link('icon-chart.png', 'reports.html', 'Reports', 'active')

    .line
    ul.nav__menu
      mixin nav-link(image, link, content, active)
        li(class=`${active || ''}`)
          img(src=`./images/icon/${image}`, alt="")
          a(href=`${link}`).nav__link= content

      +nav-link('icon-releases.png', 'releases.html', 'Releases')
      +nav-link('icon-epic.png', 'epic.html', 'Epics')
      +nav-link('icon-filter.png', 'issue-details.html', 'Issues & filters')
      +nav-link('icon-pages.png', '#', 'Pages')
      +nav-link('icon-slack.png', '#', 'Slack Integration')
      +nav-link('icon-setting.svg', 'project-setting-info.html', 'Project settings')


block pages
  header.report__header.dflexs
    .header__item.left
      h3.title Project / DROP_UI/UX
      h1.title All reports

  section.reports__body
    mixin reports(image, title, des)
      .reports__item
        .report__image.dflex
          img(src=`./images/reports/${image}.png`, alt="")
        .report__content
          h3.title= title
          p= des
    +reports('report-image-1', 'Burndown Chart', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-2', 'Burndown Chart', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-3', 'Spinrt Report', 'Understand the work completed or pushed back to the backlog in each sprint. This helps you determine if your team is overcommitting or if there is excessive scope creep.')
    +reports('report-image-4', 'Velocity Chart', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-5', 'Cumulative Flow Diaram', 'Understand the work completed or pushed back to the backlog in each sprint. This helps you determine if your team is overcommitting or if there is excessive scope creep.')
    +reports('report-image-6', 'Version Report', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-7', 'Epic Report', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')
    +reports('report-image-8', 'Control Chart', 'Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.')

Acazia Software/src/reports.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acazia Software</title>
    <!--Logo Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icon-logo.png">
    <!--Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Search-->
    <div class="overlay-shadow"></div>
    <div class="search js--search">
      <div class="close"><img src="./images/icon/icon-close.png" alt=""></div>
      <div class="field">
        <input type="text" placeholder="Search here">
      </div>
      <div class="search__recent">
        <h3 class="title">Recent Issues</h3>
        <div class="recent__issues"><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">CR; Edit Reports to include COGS to use the wholesale...</h6>
                        <p class="des">DROP-1954</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-epic.png" alt="">
                      <div class="content">
                        <h6 class="title">IOS Driver; Update Driver App Flows</h6>
                        <p class="des">DROP-2063</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-bug.png" alt="">
                      <div class="content">
                        <h6 class="title">BUG; Dispatch/ driver app, inaccurate location show in...</h6>
                        <p class="des">DROP-1937</p>
                      </div></a><a class="item" href="#"><img src="./images/icon/icon-state-story.png" alt="">
                      <div class="content">
                        <h6 class="title">PWA; A customer must verify their account with every...</h6>
                        <p class="des">DROP-1838</p>
                      </div></a>
        </div>
      </div>
      <div class="project__recent">
        <h3 class="title">Recent Projects</h3>
        <div class="recent__project"><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">DROP_UI/UX</h4>
              <p class="des">Board - DROP_UI/UX</p>
            </div></a><a class="item" href="#">
            <div class="icon"><img src="./images/icon/icon-robot.png" alt=""></div>
            <div class="content">
              <h4 class="title">POS_UI/UX</h4>
            </div></a></div>
      </div>
      <!-- Search-->
    </div>
    <nav class="dflexs">
      <div class="nav__item dflex"><a class="nav__logo" href="all-issues.html"><img src="./images/logo/logo.png" alt=""></a>
        <div class="line" style="margin-bottom: 2.5rem;"></div>
        <div class="nav__tools">
          <button>       <img src="./images/icon/icon-star.svg" alt=""></button>
          <button class="js--search-btn">     <img src="./images/icon/icon-search.svg" alt=""></button>
          <button class="js--nav-open">      <img src="./images/icon/icon-plus.svg" alt=""></button>
        </div>
      </div>
      <div class="nav__item dflex">
        <div class="nav__tools">
          <button class="bell"> <img src="./images/icon/icon-bell.svg" alt=""></button>
          <button>         <img src="./images/icon/icon-setting.svg" alt=""></button>
        </div>
        <div class="line"></div><a class="nav__avatar" href="#"><img src="./images/avatar/avatar-1.jpg" alt=""></a>
        <ul class="sub__avatar">
          <li><a href="#">Give us feedback</a></li>
          <li><a class="red-light-color" href="#">ACAZIA SOFTWARE</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="red-light-color" href="#">Profile</a></li>
          <li class="dflex" style="justify-content: flex-start;"><a href="#">Account Setting</a><img src="./images/icon/icon-edit.png" alt=""></li>
          <li><a class="red-color" href="#">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__expand">
      <div class="nav__current"><img src="./images/icon/icon-folder.png" alt="">
        <div class="content">
          <h2>POS_UI/UX</h2>
          <p>Sofware Project</p><i class="fas fa-angle-down"></i>
        </div>
      </div>
      <div class="nav__arrow"><img src="./images/icon/icon-angle-circle-right.png" alt=""></div>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-layer.png" alt=""><a class="nav__link" href="#">POS_UI/UX</a></li>
                <li><img src="./images/icon/icon-black-log.png" alt=""><a class="nav__link" href="blacklog.html">Backlog</a></li>
                <li><img src="./images/icon/icon-sprints.png" alt=""><a class="nav__link" href="board.html">Active Sprints</a></li>
                <li class="active"><img src="./images/icon/icon-chart.png" alt=""><a class="nav__link" href="reports.html">Reports</a></li>
      </ul>
      <div class="line"></div>
      <ul class="nav__menu">
                <li><img src="./images/icon/icon-releases.png" alt=""><a class="nav__link" href="releases.html">Releases</a></li>
                <li><img src="./images/icon/icon-epic.png" alt=""><a class="nav__link" href="epic.html">Epics</a></li>
                <li><img src="./images/icon/icon-filter.png" alt=""><a class="nav__link" href="issue-details.html">Issues &amp; filters</a></li>
                <li><img src="./images/icon/icon-pages.png" alt=""><a class="nav__link" href="#">Pages</a></li>
                <li><img src="./images/icon/icon-slack.png" alt=""><a class="nav__link" href="#">Slack Integration</a></li>
                <li><img src="./images/icon/icon-setting.svg" alt=""><a class="nav__link" href="project-setting-info.html">Project settings</a></li>
      </ul>
    </div>
    <main>
      <header class="report__header dflexs">
        <div class="header__item left">
          <h3 class="title">Project / DROP_UI/UX</h3>
          <h1 class="title">All reports</h1>
        </div>
      </header>
      <section class="reports__body">
                <div class="reports__item">
                  <div class="report__image dflex"><img src="./images/reports/report-image-1.png" alt=""></div>
                  <div class="report__content">
                    <h3 class="title">Burndown Chart</h3>
                    <p>Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.</p>
                  </div>
                </div>
                <div class="reports__item">
                  <div class="report__image dflex"><img src="./images/reports/report-image-2.png" alt=""></div>
                  <div class="report__content">
                    <h3 class="title">Burndown Chart</h3>
                    <p>Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.</p>
                  </div>
                </div>
                <div class="reports__item">
                  <div class="report__image dflex"><img src="./images/reports/report-image-3.png" alt=""></div>
                  <div class="report__content">
                    <h3 class="title">Spinrt Report</h3>
                    <p>Understand the work completed or pushed back to the backlog in each sprint. This helps you determine if your team is overcommitting or if there is excessive scope creep.</p>
                  </div>
                </div>
                <div class="reports__item">
                  <div class="report__image dflex"><img src="./images/reports/report-image-4.png" alt=""></div>
                  <div class="report__content">
                    <h3 class="title">Velocity Chart</h3>
                    <p>Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.</p>
                  </div>
                </div>
                <div class="reports__item">
                  <div class="report__image dflex"><img src="./images/reports/report-image-5.png" alt=""></div>
                  <div class="report__content">
                    <h3 class="title">Cumulative Flow Diaram</h3>
                    <p>Understand the work completed or pushed back to the backlog in each sprint. This helps you determine if your team is overcommitting or if there is excessive scope creep.</p>
                  </div>
                </div>
                <div class="reports__item">
                  <div class="report__image dflex"><img src="./images/reports/report-image-6.png" alt=""></div>
                  <div class="report__content">
                    <h3 class="title">Version Report</h3>
                    <p>Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.</p>
                  </div>
                </div>
                <div class="reports__item">
                  <div class="report__image dflex"><img src="./images/reports/report-image-7.png" alt=""></div>
                  <div class="report__content">
                    <h3 class="title">Epic Report</h3>
                    <p>Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.</p>
                  </div>
                </div>
                <div class="reports__item">
                  <div class="report__image dflex"><img src="./images/reports/report-image-8.png" alt=""></div>
                  <div class="report__content">
                    <h3 class="title">Control Chart</h3>
                    <p>Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.</p>
                  </div>
                </div>
      </section>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
